<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
</head>

<body>
  <!-- 화보, 비디오 -->
  <div th:fragment="page-calculator">
    <div class="page__inner">
      <div class="title">
        <img src="https://cetaphil-event.s3.amazonaws.com/static/body/images/pc/page-calculator/title.png" alt="">
      </div>
      <div class="btn-join-event">
        <button type="button" @click="showPop('user-info')">이벤트_시작버튼</button>
      </div>
      <div class="event-duration">
        <img src="https://cetaphil-event.s3.amazonaws.com/static/body/images/pc/page-calculator/event-duration.png" alt="">
      </div>
      <div class="event-notice">
        <button type="button" @click="showPop('calculator-detail')">자세히보기</button>
      </div>
    </div>
    <!-- || page__inner -->
  </div>
</body>

</html>