@charset 'UTF-8';

@import 'Import/_base.scss';
@import 'Import/_mixins.scss';

//variable
$location: '/Images/FindingDory2017/';
$width-min: 640px;
$width-max: 640px;

//extend
%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    *zoom: 1;
}

%btn a{
	padding:30px 0;
}

body {height:auto; font-size: 75%; line-height: 1.4; }

/*======================================
  site common
======================================*/

.screen-out {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    top: -99999em;
    left: -9999em;
}

/*======================================
  mobile common!!!!
  mobile_wrap을 추가해야 내비가 작동한다
======================================*/

#header {
    position: absolute;
    left: 0;
    top: 0;
    background: url("/Images/KDS1/web/bg-gnb.png") repeat-x left top;
    width: 100%;
    height: 73px;
    z-index: 7;
}

.header-inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
	ul {
		position: absolute;
		right: 40px;
		top: 28px;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		li {
			float: left;
			margin-left: 158px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

#footer {
    background: #f04e23 url("/Images/KDM1/bg_bottom.png") repeat-x center top;
}

/*======================================
  vendor
======================================*/

/* bubble.js */
.bubbles {
position: relative;
}
.individual-bubble {
position: absolute;
@include prefix(border-radius, 100%);
bottom: 100px;
line-height:0;
opacity:.6;
background-color: #fff;
z-index: 1;
}

/*======================================
  wrap & event common
======================================*/

%section-inner{
	position:relative;
	width:$width-min;
	margin:0 auto;
}

.dory-wrap {
	padding-top:70px;
    min-width: $width-min;
    max-width: $width-max;
    margin: 0 auto;
	overflow:hidden;
	text-align:center;
	& a{
		display:inline-block;
	}
	& h2{
		display:none;
	}
}

/*======================================
  page detail
======================================*/

/* 상단 */
.page_visual {
	position:relative;
	height:1013px;
    @include background('m/header_visual_bg.jpg', $color:#3ad1f3);
	.page_visual_obj {
		position:relative;
		top:0;
		right:0;
		width:$width-min;
		margin:0 auto;
		.obj{
			position:absolute;
			top:0;
			right:0;
			width:640px;
			height:708px;
			@include background('m/page_visual_obj3.png', $x:right);
			overflow:hidden;
			z-index:0;
		}
	}
    .page_visual_obj2 {
		position:absolute;
		top:0px;
		left:0;
		margin-left:-10px;
		z-index:0;
		.obj1{
			padding-top:350px;
			margin-left:115px;
		}
		.obj2{
			padding-top:265px;
			margin-left:-35px;
		}
    }
    .tl {
		position:relative;
		padding-top:120px;
		padding-right:0px;
		padding-bottom:60px;
		z-index:1;
    }
	.deco{
		position:absolute;
		top:125px;
		left:50%;
		margin-left:70px;
		z-index:1;
	}
}
/* 제품 보기 영역 */
.page_visual .toy_group {
	position:relative;
	width:$width-min;
	height:420px;
	margin:0 auto;
	font-size:0;
	a {
		position:relative;
		top:0;
		display:inline-block;
		margin:5px;
		padding:0;
		width:180px;
		height:180px;
        cursor:default;
		img {
			position:relative;
			width:100%;
		}
		.bg {
			position:absolute;
			top:0;
			left:0;
			@include background('m/bubble_bg.png');
			background-size:cover;
			width:100%;
			height:100%;
		}
		&:hover {
			margin:5px;
			padding:0;
			width:210px;
			height:210px;
		}
	}
}

/* 하단 */
.event_visual {
	height:1651px;
	@include background('m/event_visual_bg.jpg', $color:#0270ab);
	.inner{
		@extend %section-inner;
	}
    .tl {
		padding-top:79px;
		padding-bottom:20px;
    }
    .date {
		padding-bottom:34px;
    }
    .con {
		padding-bottom:20px;
    }
    .btns {
		padding-top:10px;
		padding-bottom:50px;
		img{
			margin:0 5px;
		}
    }

}
/* 게임영역 */
.event_visual .event_play_wrap {
	.play_area {
		position:relative;
		width:620px;
		height:580px;
		border: 10px solid #9ef5ff;
		overflow:hidden;
		.stage {
			height:100%;
		}
		.stage0 {
			height:100%;
			@include background('m/stage0/bg.jpg', $y: center);
			.bg{
				width:1380px;
				height:760px;
				margin-left:-460px;
				margin-top:-95px;
				@include background('m/stage0/bg.jpg', $y: center);
			}
		}
		.stage1 {
			@include background('m/stage1/bg.jpg', $y: center);
			.obj1{
				position:absolute;
				bottom:0;
				right:8px;
				z-index:1;
			}
		}
		.stage2 {
			@include background('m/stage2/bg.jpg', $y: center);
		}
		.stage3 {
			@include background('m/stage3/bg.jpg', $y: center);
			.obj2{
				margin-left:-30px;
			}
			.obj4{
				margin-left:-100px;
			}
		}
		.stage4 {
			@include background('m/stage4/bg.jpg', $y: center);
			.bg{
				width:100%;
				height:100%;
				@include background('m/stage4/bg.jpg', $y: center);
			}
			.bg2{
				width:100%;
				height:100%;
				@include background('m/stage4/bg_on.jpg', $y: center);
			}
		}
		.stage5 {
			@include background('m/stage5/bg.jpg', $y: center);
			.obj1{
				margin-left:0px;
				margin-top:40px;
			}
		}
		.stage6 {
			@include background('m/stage6/bg.jpg', $y: center);
			.bg{
				width:1224px;
				height:610px;
				margin-top:-50px;
				margin-left:-100px;
				@include background('m/stage6/bg.jpg', $y: center);
			}
			.share_grouop{
				position:absolute;
				top:180px;
				left:0;
				width:100%;
				text-align:center;
				div{
					padding-bottom:20px;
				}
				img{
					margin:0 10px;
				}
			}
		}
		.char_selector{
			position:absolute;
			bottom:-120px;
			left:50%;
			margin-left:-280px;
			width:560px;
			height:172px;
			font-size:0;
			text-align:left;
			@include background('m/stage/char_bg.png', $y:bottom );
			.txt{
				position:absolute;
				top:25px;
				left:0;
				width:100%;
				height:22px;
				overflow:hidden;
				@include background('m/stage/txt_choose.png', $y:bottom );
				text-align:center;
			}
			>div{
				position:absolute;
				display:inline-block;
				img{
					opacity:0;
					transition: all .2s ease-in-out;
				}
				a:hover img{
					opacity:1;
				}
				&.on img{
					opacity:1;
				}
			}
			.nemo{
                top:63px;
				left:22px;
			}
			.destiny{
                top:66px;
				left:122px;
			}
			.malin{
                top:64px;
				left:241px;
			}
			.hank{
                top:68px;
				left:331px;
			}
			.otter{
                top:66px;
				left:460px;
			}
		}
	}
	.play_navi {
		position:relative;
		width:614px;
		height:140px;
		margin:0 auto;
		overflow:hidden;
		margin-top:50px;
		@include background('m/stage/play_navi_bg_all.png', $y:top );
		.indi_box {
			position:absolute;
			top:26px;
			left:23px;
			width:542px;
			height:50px;
		}
		.indi {
			position:absolute;
			top:-25px;
			left:0%;
			width:23px;
			height:31px;
			@include background('m/stage/play_navi_indi.png');
		}
	}
}

// 개인정보 입력팝업 모바일용 조정
#pop_event_info{

}

/* 이벤트 유의사항 */
.event_note {
	background:#005d9b;
	.inner{
		@extend %section-inner;
	}
    .txt {
		padding-top:65px;
		padding-bottom:65px;
    }
}
