<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="share/adminLayout">
<head>
	<title>#피부리턴 이벤트 : 네이버 즉석당첨 경품 관리</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
		    <div class="col-lg-12">
		        <h1 class="page-header">네이버 즉석당첨 경품 관리</h1>
		    </div>
		    <!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row" id="admin-return-prize-setting">
		    <div class="col-lg-12">
		        <div class="panel panel-default">
		            <!-- /.panel-heading -->
		            <div class="panel-body">
		                <div class="table-responsive">
		                    <div class="row" style="padding-bottom:10px;margin:0px;">
		                        <div class="col-xs-6">
		                            전체 <span style="color:red">{{ data.length }}</span>건
		                        </div>
		                    </div>
		                    <div class="row" style="margin:0px;">
		                        <div class="col-lg-12">
		                            <div class="table-responsive">
		                                <table class="table table-striped table-bordered table-hover table-condensed" id="dataTables-example">
		                                    <thead>
		                                        <tr>
		                                        	<th style="text-align:center;vertical-align:middle"></th>
		                                            <th style="text-align:center;vertical-align:middle">날짜</th>
		                                            <th style="text-align:center;vertical-align:middle;">경품</th>
		                                            <th style="text-align:center;vertical-align:middle;">총 경품수량</th>
		                                            <th style="text-align:center;vertical-align:middle;">당첨확률<br/><p style="color:red">0부터 1까지 소수점으로 등록<br/>0으로 설정시 꽝, 1로 설정시 무조건 당첨</p></th>
		                                            <th style="text-align:center;vertical-align:middle;">당첨시작시간</th>
		                                            <th style="text-align:center;vertical-align:middle;">당첨된 수량</th>
		                                            <th style="text-align:center;vertical-align:middle;">관리</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody>
	                                    	    <tr v-for="(item, index) in data">
	                                        		<td style="text-align:center;vertical-align:middle">{{index + 1}}.</td>
					                                <td style="text-align:center;vertical-align:middle">{{item.key.date | moment}}</td>
					                                <td style="text-align:center;vertical-align:middle">{{item.key.prizeType}}</td>
					                                <td style="text-align:center;vertical-align:middle"><input type="text" v-model="item.totalCount" /></td>
					                                <td style="text-align:center;vertical-align:middle"><input type="text" v-model="item.rate" /></td>
					                                <td style="text-align:center;vertical-align:middle"><input type="text" v-model="item.startTime" /></td>					                                
					                                <td style="text-align:center;vertical-align:middle">{{item.winnerCount}}</td>
					                                <td>
					                                	<button type="button" v-on:click="update(item)" class="btn btn-xs btn-primary btn-block">수정</button>
					                                </td>
					                            </tr>
		                                    </tbody>
		                                    <tbody v-show="data.length === 0">
		                                        <tr>
		                                            <td style="color:red;text-align:center" colspan="11">데이터가 없습니다.</td>
		                                        </tr>
		                                    </tbody>
		                                </table>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- /.panel-body -->
		        </div>
		        <!-- /.panel -->
		    </div>
		    <!-- /.col-lg-12 -->
		</div>
	</div>
	
	<th:block layout:fragment="body-script" th:remove="tag">
		<script type="text/javascript">	
			new Vue({
				el: '#admin-return-prize-setting',
				data: {
					data: []
				},
				created() {
					this.getDate();
				},
				methods: {
					getDate: function () {
						var self = this;
						$.ajax({
							method: 'get',
							url: '/manager/api/skin-regeneration/prize-setting',						
							beforeSend: function () {
							}, complete: function () {
							}, success: function (res) {
								self.data = res;
							},error: function (xhr, err) {
								alert(xhr.responseJSON.message);
							}
						});
					},
					update: function(item) {
						var self = this;
						$.ajax({
							method: 'post',
							url: '/manager/api/skin-regeneration/prize-setting',
							dataType : "json",
				            contentType : "application/json",
							data: JSON.stringify(item),
							beforeSend: function () {
							}, complete: function () {
							}, success: function (res) {
								alert(res.message);
							},error: function (xhr, err) {
								alert(xhr.responseJSON.message);
							}
						});
					}
				},
				filters: {
				  moment: function (date) {
				    return moment(date).format('YYYY-MM-DD');
				  }
				}
			})
		</script>	
	</th:block>
</body>
</html>