@charset 'utf-8';
$width-min:320px;
$width-max:980px;
@mixin btn-style($color,$width){
    position:relative;
    width:$width;
    background-color:$color;
    border-radius:5px;
    border:none;
}
legend {
    display:none;
}
fieldset {
    padding:0;
    text-align:left;
}

/*팝업*/
$popupColor:#007fb6;
$popup-lineColor:#c0d4e7;
.popup {
    display:none;
    position:absolute;
    left:50%;
    width:100%;
    height:auto;
    max-width:640px;
    min-width:$width-min;
    margin:0 auto;
    background:#fff;
   // border:1px solid #eee;
    z-index:10;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Chrome, Safari, Opera */
}
.pop-dim {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
display: none;
background: #000;
opacity: .8;
filter: alpha(opacity=80);
z-index: 10;

    &.on {
        display: block;
    }
}


//버튼 로딩바
button {
    >.loading {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            text-align:center;
            filter: alpha(opacity=60);
            opacity: .6;
            background-color: #000;
            overflow: hidden;
            img {
                padding-top:5%;
            }
    }
}



/*인앱팝업*/
.pop-inapp {
    background:#2C2320;
    .btn-close {
        position:absolute;
        right:2%;
        top:10px;
    }
    .popover-content {
        >img {
            width:100%;
        }
    }
}

/*SNS공유하기*/
.sns-share {
    .one-button {
        padding:30px 0;
        text-align:center;
        button[type="submit"]{
        @include btn-style(#0c59b0,60%);
        height:70px;
            }
              
    }
    .btn-close {
        position:absolute;
        right:2%;
        top:10px;
       }
    h2 {
        width:100%;
        height:125px; 
        margin:0;
        text-align:center;
        line-height: 125px;
        background:$popupColor;
        font-size:0;
            img {
                width:65%;
                max-width:299px;
            }
        }
    .popover-content {
        /*padding:0 7.8125%;*/
        padding:0 7%;
        h3 {
               text-align:center;
               padding:50px 0 40px;
               font-size:0;
               border-bottom: 2px dashed #dedede;
               &.no-border {
                   border:none;
               }
               img {
                       width:100%;
                       max-width:415px;
                       height:100%;
                   }
           }
        dt { 
            display: inline-block;
            width:20%;
            }
        dd { 
            display:inline-block;
            width:78%;
            text-align:right;
            input {
                width:100%;
                height:55px;
                max-width:410px;
                padding:0 5%;
                border:2px solid $popup-lineColor;
            } 
        }
        label {
            position: relative;
        }
        input[type="checkbox"] {
            position:absolute;
            top:0;
            left:0;
            opacity:.01;
            &:checked ~ span {
            background: url('../../images/bag-to-the-future/popup/check_on.png') no-repeat 0 0;
               }
        }
        .checkbox {
            display:inline-block;
            width:35px;
            height:35px;
            margin-right:10px;
            background: url('../../images/bag-to-the-future/popup/check_off.png') no-repeat 0 0;
            cursor:pointer;

        }
        .agree-text01 {
            display:inline-block;
            width:85%;
            height:100%;
            vertical-align:15px;
        }
        .agree-text02 {
            display:inline-block;
            width:85%;
            height:100%;
            vertical-align:-8px;
        }
        .text-box {
            height:180px;
            border:1px solid $popup-lineColor;
            overflow-y:scroll;
            font-size:12px;
            line-height:19px;
            padding:0 1%;
            text-align:left;
            color:#5e5e5e;
        }

        .sns {
            padding-bottom:10%;
            &>img {
                width:100%;
                padding:50px 0 30px;
                height:100%;
                  }
            ul {
                max-width:410px;
                margin:0 auto 30px;
                padding:0;
                text-align:center;
               li {
                    display:inline-block;
                    width:30%;
                    &:first-child + li {
                            margin:0 3%;
                        }
                    img {
                        width:100%;
                        max-width:120px;
                        height:100%;
                    }
                }
            }
           .btn-wrap {
              .btn-skyblue{
                @include btn-style(#168cbf,48%);
                height:70px;
                margin-right:2%;
                 }
              .btn-blue{
                @include btn-style(#0c59b0,48%);
                height:70px;
                 }
              
           }
        }
    } /*popover-content*/
}

/*첨부파일 확인 팝업(아니오 & 네)*/
.yesno {
    padding:92px 5% 70px;
    text-align:center;
    .yesno-text {
    &>img {
       width:100%;
       height:100%;
          }
   }
    .btn-close {
        position:absolute;
        right:2%;
        top:1%; 
    }
        .btn-wrap {
        margin-top:42px;
        .btn-no{
        @include btn-style(#168cbf,48%);
        height:70px;
        margin-right:2%;
            }
        .btn-yes{
        @include btn-style(#0c59b0,48%);
        height:70px;
            }
              
    }
}

/*접수내용입력*/
.personal {
    h2 {
        img {
            max-width:238px;
        }
    }
    .popover-content {
        margin-top:50px;
    }
    .btn-wrap {
      text-align:center;
      button[type="submit"]{
        @include btn-style(#0c59b0,48%);
        height:70px;
        margin:40px 0 60px;
            }
     }
}

@media all and (max-width:657px) {
    .yesno {
        .btn-wrap {
            padding-bottom:0 !important;
        }
    }
 }       
@media all and (max-width:500px) {
    fieldset {
        dl {
            dt {
                margin-right:10%;
            }
            dd {
                width:68% !important;
            }
        }
    }
    .sns-share {
        .btn-close {
            top:.5%;
        }
        .agree-text01 {
            width:82% !important;
        }
        .agree-text02 {
            width:81.5% !important;
            vertical-align:16px !important;
        }
    }

    .popup {
      .yesno-text {
          margin-bottom:20px;
      }
      .btn-wrap {
        margin:0 !important;
        }
    }
    .sns {
        button {
            >img {
                width:100%;
            }
        }
    }

    }     
@media all and (max-width:400px) {
    .sns-share {
        .popover-content {
            dd {
                input {
                    height:45px;
                }
            }
            h3 {
                padding:40px 0 30px;
            }
            .sns {
                >img {
                    padding:40px 0 30px;
                }
            }
        }
    }
}