<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Bad Request</title>
    <style>
        .notFound_area {
            padding: 150px 0;
            text-align: center;
        }
        .notFound_area .btn_ok {
            padding-top: 20px;
        }
    </style>
</head>
<body>
 	<div class="notFound_area">
        <div class="txt_tl">	          
                   서버 문제로 일시적인 오류가 발생했습니다.<br />
                   잠시 후에 다시 시도하시거나 처음부터 다시 시도하여 주시기 바랍니다.
        </div>
        <div class="btn_ok"><a href="/" class="btn btn-success">메인 페이지 이동</a></div>
    </div>
</body>
</html>