<!-- 팝업 : 인앱브라우저  -->
<div class="popup" id="pop_inapp" style="display:none;">
	<div class="btn_close"><a href="javascript:void(0);" onclick="closePop('pop_inapp');"><img src="~/Images/FindingDory2017/popup/btn_close.png" alt="닫기"></a></div>
	<div class="pop_cont">
		<div class="txt"><img src="~/Images/FindingDory2017/popup/txt_inapp_all.png" alt="위 방법으로 참여하셔야 경품 혜택을 받으실 수 있습니다."></div>
	</div>
</div>