<!-- 팝업 : 우편번호 팝업  -->
<div class="popup" id="pop_post" style="display:none;">
	<div class="btn_close"><a href="javascript:void(0);" onclick="closePop('pop_post');"><img src="~/Images/FindingDory2017/popup/btn_close.png" alt="닫기"></a></div>
	<div class="pop_header">
		<div class="header-tl"><img src="~/Images/FindingDory2017/popup/post_tl.png" alt="우편번호 찾기"></div>
	</div>
	<div class="pop_con">
		<div class="api_con" id="searchPostCode"></div>
	</div>
</div>