@*<div class="temp" style="position:fixed; top:0; left:0; display:;" >
        <input type="button" value="인앱" onclick="openPop('pop_inapp')"><br />
        <input type="button" value="우편번호" onclick="openPop('pop_post')"><br />
        <br />
    </div>*@

<!-- 팝업 group -->
<div class="popup_dimmed" style="display:none;"></div>

<!-- 로딩 덮게 -->
<div class="page_loading" style="display:none;"></div>

<!-- 팝업: 경품  -->
<div class="popup" id="pop_gift" style="display:none;">
    <div class="btn_close"><a href="javascript:void(0);" onclick="closePop('pop_gift');"><img src="~/Images/FindingDory2017/popup/btn_close.png" alt="닫기"></a></div>
    <div class="pop_header">
        <div class="header-tl"><img src="~/Images/FindingDory2017/popup/gift_tl.png" alt="경품 안내"></div>
    </div>
    <div class="pop_con">
        <div class="gift_img"><img src="~/Images/FindingDory2017/popup/gift_img.png" alt=""></div>
    </div>
</div>

