@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=text], input[type=tel] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  box-sizing: border-box; }

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none; }

.input-none, .pop-info .pop-con .policy-area p.policy-check input, .pop-info .pop-con .policy-area .age-check input, .pop-info .pop-con .btn input[type="submit"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: .01; }

button {
  background: none;
  border: none; }

.dim {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background: #000;
  opacity: .7;
  filter: alpha(opacity=80);
  z-index: 10; }

/*
==============================================
popup 공통
==============================================
*/
.popups {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 1040px;
  margin-left: -520px;
  padding-bottom: 100px;
  background: #fff;
  overflow: hidden;
  z-index: 99; }
  .popups .btn-close {
    position: absolute;
    top: 60px;
    right: 60px; }
  .popups .pop-header {
    width: inherit;
    height: 297px;
    background: url("../images/popup/popup_bg.jpg") no-repeat #fb9a40;
    background-size: cover; }
    .popups .pop-header h3 {
      padding-top: 80px;
      text-align: center; }
  .popups .pop-con {
    width: 920px;
    margin: 0 auto; }

/*
==============================================
pop-info
==============================================
*/
.pop-info legend {
  display: none; }

.pop-info fieldset {
  padding: 0; }

.pop-info .pop-con {
  /* info-area */
  /* policy-area */ }
  .pop-info .pop-con .info-area {
    width: 920px;
    margin: 0 auto; }
    .pop-info .pop-con .info-area dl {
      width: 920px;
      margin: 0 auto;
      padding-bottom: 10px;
      overflow: hidden; }
      .pop-info .pop-con .info-area dl:last-child {
        padding: 0; }
      .pop-info .pop-con .info-area dl dt {
        padding: 60px 0 30px; }
      .pop-info .pop-con .info-area dl dd {
        line-height: 96px; }
        .pop-info .pop-con .info-area dl dd > img {
          vertical-align: middle; }
        .pop-info .pop-con .info-area dl dd input {
          width: 285px;
          max-width: 920px;
          height: 96px;
          padding: 0 10px;
          background: #eee;
          border: 2px solid #dedede;
          color: #231f1f;
          font-size: 40px;
          vertical-align: top;
          line-height: 96px;
          font-family: "Noto Sans KR", sans-serif;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px; }
        .pop-info .pop-con .info-area dl dd input[type="text"] {
          width: 920px; }
          .pop-info .pop-con .info-area dl dd input[type="text"].ph_phone {
            width: 285px; }
  .pop-info .pop-con .policy-area {
    width: 920px;
    margin: 30px auto 0; }
    .pop-info .pop-con .policy-area p.policy-check {
      width: 920px;
      padding: 30px 0 0;
      margin-bottom: 28px; }
      .pop-info .pop-con .policy-area p.policy-check input ~ span {
        display: inline-block;
        width: 228px;
        height: 65px;
        background: url("../images/popup/agree_check.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        cursor: pointer; }
      .pop-info .pop-con .policy-area p.policy-check input:checked ~ span {
        background-position: 0 -78px; }
    .pop-info .pop-con .policy-area .contents {
      width: 920px;
      height: 240px;
      padding: 35px 30px;
      border: 1px solid #999;
      background: #eee;
      color: #5e5e5e;
      border: 2px solid #dedede;
      font-size: 25px;
      text-align: left;
      line-height: 44px;
      resize: none;
      font-family: "Noto Sans KR", sans-serif;
      overflow-y: scroll; }
    .pop-info .pop-con .policy-area .policy-box2 {
      padding-top: 0; }
    .pop-info .pop-con .policy-area .age-check {
      margin: 75px 0 40px; }
      .pop-info .pop-con .policy-area .age-check input ~ span {
        display: inline-block;
        width: 451px;
        height: 65px;
        background: url("../images/popup/age_agree_check.png");
        background-repeat: no-repeat;
        background-position: 0 0;
        cursor: pointer; }
      .pop-info .pop-con .policy-area .age-check input:checked ~ span {
        background-position: 0 -78px; }
    .pop-info .pop-con .policy-area .age-note {
      margin-bottom: 80px; }
  .pop-info .pop-con .btn {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0; }
    .pop-info .pop-con .btn .loading {
      position: absolute;
      top: 0;
      left: 50%;
      width: 506px;
      height: 128px;
      margin-left: -253px;
      text-align: center;
      line-height: 120px;
      opacity: .6;
      background: #000;
      overflow: hidden;
      -webkit-border-radius: 65px;
      -moz-border-radius: 65px;
      border-radius: 65px; }
      .pop-info .pop-con .btn .loading img {
        vertical-align: middle; }
  .pop-info .pop-con .next-text {
    padding: 50px 0 80px;
    text-align: center; }

/*
==============================================
 roulette01
==============================================
*/
.roulette01 .pop-con {
  position: relative;
  text-align: center; }
  .roulette01 .pop-con .the_wheel {
    margin: 88px 0 60px; }
  .roulette01 .pop-con .pointer {
    position: absolute;
    left: 50%;
    top: -27px;
    margin-left: -30px; }
  .roulette01 .pop-con .rolette-logo {
    position: absolute;
    left: 50%;
    top: 285px;
    margin-left: -109px; }
  .roulette01 .pop-con .finger-img {
    position: absolute;
    right: 120px;
    bottom: -100px; }
  .roulette01 .pop-con .btn-start {
    cursor: pointer; }

/*
==============================================
 roulette02
==============================================
*/
.roulette02 h3 > img {
  display: block;
  margin: 0 auto; }

.roulette02 h3 span {
  display: block;
  margin-top: 15px; }

.roulette02 .pop-con {
  position: relative;
  text-align: center; }
  .roulette02 .pop-con .rolette-img {
    margin: 60px 0 80px; }
  .roulette02 .pop-con .download-btn {
    margin: 45px 0 55px;
    overflow: hidden; }
    .roulette02 .pop-con .download-btn > button {
      font-size: 0; }
      .roulette02 .pop-con .download-btn > button:first-child {
        float: left; }
      .roulette02 .pop-con .download-btn > button:first-child + button {
        float: right; }

/*
==============================================
 friend
==============================================
*/
.friend .pop-con {
  text-align: center; }
  .friend .pop-con h4 {
    padding: 95px 0 60px; }
  .friend .pop-con button {
    padding: 0;
    margin: 0 6px; }

/*
==============================================
floating
==============================================
*/
.floating {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.8s;
  -webkit-animation-duration: 1.8s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

@keyframes floating {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }

.wrap {
  min-width: 1080px;
  width: 100%; }
  .wrap .inner-wrap {
    width: 1080px;
    margin: 0 auto;
    padding: 90px 0;
    text-align: center; }
  .wrap .kv {
    background-color: #70d474; }
    .wrap .kv .kv-inner {
      position: relative;
      width: 1080px;
      height: 1582px;
      margin: 0 auto;
      text-align: center;
      background: url("../images/main_bg.png") no-repeat center;
      overflow: hidden; }
      .wrap .kv .kv-inner h1 {
        width: 1080px;
        margin: 0 auto;
        padding: 40px 0 35px 40px;
        text-align: left; }
      .wrap .kv .kv-inner .event-wrap {
        position: relative;
        width: 1120px;
        height: 837px;
        margin: 30px auto 0;
        background: url("../images/main_roulette.png") no-repeat center; }
        .wrap .kv .kv-inner .event-wrap > span {
          position: absolute;
          display: block;
          bottom: 170px;
          left: 50%;
          margin-left: -250.5px; }
        .wrap .kv .kv-inner .event-wrap > button {
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -253px; }
      .wrap .kv .kv-inner .finger {
        position: absolute;
        bottom: -20px;
        right: 170px;
        cursor: pointer; }
    .wrap .kv .event-rule {
      background-color: #fff; }
      .wrap .kv .event-rule .rule {
        padding: 50px 0 60px; }
    .wrap .kv .event-guide {
      background-color: #ffdf4f; }
      .wrap .kv .event-guide .inner-wrap {
        width: 963px; }
        .wrap .kv .event-guide .inner-wrap .inner-top h3 {
          padding: 10px 0 110px; }
        .wrap .kv .event-guide .inner-wrap .inner-top p {
          margin-bottom: 50px;
          text-align: left; }
        .wrap .kv .event-guide .inner-wrap .inner-bottom {
          padding-top: 100px; }
          .wrap .kv .event-guide .inner-wrap .inner-bottom h4 {
            margin-bottom: 56px; }
          .wrap .kv .event-guide .inner-wrap .inner-bottom p {
            margin-bottom: 70px;
            text-align: left; }
        .wrap .kv .event-guide .inner-wrap .event-note {
          margin-top: 120px;
          text-align: left; }

