<h3>개인정보 수집/이용 관련 안내</h3>
<h4>1. 개인정보의 수집·이용에 관한 사항</h4>
<br />
<span>ING생명보험㈜</span>는 개인정보보호법 및 정보통신망 법에 따라<br />
보험상품 소개, 홍보 및 재무 설계컨설팅, 이벤트 진행 등을 위하여<br />
귀하의 개인정보를 다음과 같이 수집 · 이용하고자 합니다<br />
이에 동의 하십니까?<br />
<br />
* 개인정보 수집 · 이용 목적<br />
상품서비스 소개 및 판매, 사은 · 판촉행사 안내, 시장조사,<br />
재무설계컨설팅, 이벤트 진행, 재정 컨설턴트 JOB 소개<br />
<br />
* 수집 · 이용할 개인정보의 내용<br />
개인식별정보(성명, 생년월일 휴대전화번호, 주소, 이메일주소)<br />
<br />
* 개인정보의 보유 · 이용 기간<br />
하단의 개인정보 등의 보유 · 이용기간<br />
<br />
<br />
<h4>2. 개인정보의 제공에 관한 사항</h4>
<br />
<span>ING생명보험㈜</span>는 개인정보보호법 및 정보통신망 법에 따라<br />
귀하의 개인정보를 다음과 같이 제3자에게 상품소개, 홍보 및 재무<br />
설계컨설팅 등 영업목적으로 제공하고자 합니다.<br />
이에 동의 하십니까?<br />
<br />
* 개인정보를 제공 받는 자<br />
- 모집수탁자 : 당사와 보험모집 위탁계약을 체결한 자 (보험설계사)<br />
- 업무수탁자 : 상사와 업무위탁 계약을 체결한 자<br />
                   (우편물 발송업체 등 포함)<br />
<br />
* 개인정보를 제공 받는 자의 이용목적<br />
상품서비스 소개 및 판매, 사은 · 판촉행사 안내, 시장조사,<br />
재무설계컨설팅, 이벤트 진행, 재정 컨설턴트 JOB 소개<br />
<br />
* 제공할 개인정보의 내용<br />
- 모집수탁자 및 업무수탁자<br />
  「개인정보의 수집 · 이용에 관한 사항」의 정보 내용<br />
<br />
* 제공받는 자의 개인정보 보유 · 이용 기간<br />
- 고객님께서 선택하신 「개인정보의 수집 · 이용에 관한 사항」의<br />
  보유 · 이용기간<br />
<br />
※ 각 제공대상기관 및 이용목적의 구체적인 정보는<br />
ING생명보험주식회사 홈페이지(<a href="http://www.inglife.co.kr" target="_blank">www.inglife.co.kr</a>)에서<br />
확인할 수 있습니다.<br />