//===================================
// variable
//===================================\
$location: '/fourth/images/survey-event/m/';

//===================================
// page
//===================================

#kabrita-nav {
  position: relative;
  z-index: 2;
}
.survey-event {
  position: relative;
  width: 100%;
  max-width: $width-max;
  min-width: $width-min;
  margin: 0 auto;
  form {
    display: inline-block;
  }
  .btn {
    display: inline-block;
    @include background('btns.png', $repeat: no-repeat);

    &__kakao-share {
      width: 340px;
      height: 67px;
      margin-top: 803px;
      background-position: 0 0;
    }
    &__prizewinner {
      position: absolute;
      top:380px;
      left:201px;
      width: 240px;
      height: 49px;
      background-position: 0 -274px;
    }
    &__experience01 {
      width: 288px;
      height: 124px;
      background-position: 1px -101px;
    }
    &__experience02 {
      width: 288px;
      height: 124px;
      background-position: -287px -103px;
    }
    &__link-history {
      width: 230px;
      height: 52px;
      margin-top:790px;
      background-position:-370px 0;
    }
    &__review-ok {
      width: 181px;
      height: 70px;
      background-position: -250px -274px;
      vertical-align: top;
      margin-top: -1px;
    }
  }
}

#survey {
  position: relative;
}
.survey-event__tab {
  position: absolute;
  top:0;
  width: $width-max;
  height: 65px;
  overflow:hidden;  
  background:#4d6bb5;
  font-size: 0;
  z-index: 1;
  li {
    display:inline-block;
    width: 320px;
    height: 65px;
    background-position-y:top;
    &:nth-child(1){
      @include background('survey-tab01.png', $repeat: no-repeat);
    }
    &:nth-child(2){
      @include background('survey-tab02.png', $repeat: no-repeat);
    }
    &.active {
      background-position-y:bottom;
    }
  }

}


.kv {
  position: relative;
  height: 965px;
  text-align: center;
  @include background('survey-top.jpg', $repeat: no-repeat, $position:top center);
  .mov-wrap {
    position: absolute;
    top: 454px;
    left: 48px;
    text-align:center;
  }
  #surveyMov {
    width: 550px;
    height: 300px;
  }
  .mov-cover {
    position: absolute;
    top:0;
    left:0;
    width: 550px;
    height: 303px;
  }
  .arrow {
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -40.5px;
    display: inline-block;
  }
}

.experience {
  position: relative;
  height: 1031px;
  text-align: center;
  @include background('experience.jpg', $repeat: no-repeat);
  &__btns {
    position: absolute;
    top:867px;
    left:40px;
    font-size:0;
  }
}



.review {
  height: 1880px;
  @include background('review_v2.jpg', $repeat: no-repeat);

  &__input {
    width: 570px;
    height: 62px;
    margin: 0 auto;
    padding-top: 1000px;
    box-sizing: border-box;
    font-size: 0;

    input[type="text"] {
      width: 385px;
      height: 62px;
      padding-left: 20px;
      font-size: 20px;
      border: 2px solid #c91e62;
      border-radius: 10px 0 0 10px;
      box-sizing: border-box;
    }

  }
}
.event-notice {
  position: relative;
  height: 1032px;
  @include background('event-notice_v2.jpg', $repeat: no-repeat);
}



footer {
  height:920px;
  @include background('notice.jpg', $repeat: no-repeat, $position:top center, $color:#f2f2f2);
}