<!-- 팝업 : 우편번호 팝업  -->
<div class="popup" id="pop-post" style="display:none;">
    <div class="btn-close"><a href="javascript:void(0);" onclick="closePopup('pop-post');"><img src="~/Images/MarvelFrozen/common/btn-popup-close.png" alt="닫기"></a></div>
    <div class="pop-header">
        <div class="header-tl"><img src="~/Images/MarvelFrozen/common/popup-zip-title.png" alt="우편번호 찾기"></div>
    </div>
    <div class="pop-con">
        <div class="api_con" id="searchPostCode"></div>
    </div>
</div>
