<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Not Found</title>
    <style>
        .notFound_area {
            padding: 150px 0;
            text-align: center;
        }
        .notFound_area .btn_ok {
            padding-top: 20px;
        }
    </style>
</head>
<body>
 	<div class="notFound_area">
        <div class="txt_tl">
	           잘못된 페이지 입니다! <br />
	            입력 또는 클릭하신 링크가 잘못되었거나 페이지가 삭제되었습니다.
        </div>
        <div class="btn_ok"><a href="/" class="btn btn-success">메인 페이지 이동</a></div>
    </div>
</body>
</html>