<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="shared/layout-mobile"
>
  <head>
    <title>카브리타 제품 정보</title>
  </head>

  <!-- 이벤트 Meta 태그 추가 -->
  <th:block layout:fragment="meta" th:remove="tag"> </th:block>

  <!-- 이벤트 CSS 파일 추가 -->
  <th:block layout:fragment="css" th:remove="tag">
    <link rel="stylesheet" href="/renewal/product/css/style_m.min.css">
  </th:block>

  <!-- 이벤트 JS 파일 추가 -->
  <th:block layout:fragment="script" th:remove="tag"> </th:block>

  <body>
    <div layout:fragment="content" id="product" v-cloak>
      <!-- nav : start -->
      <div      
        id="kabrita-nav"
        th:include="renewal/_nav-mobile :: kabrita-nav"
      ></div>
      <!-- nav : end -->
      <!-- loading -->
      <div class="loading" v-show="loading">
        <img src="/renewal/images/loading.svg" alt="loading" />
      </div>
      <div class="kabrita-product kabrita">

        <section v-for="(section, idx) in sections" class="onescroll section__outer" :class="section.key">
          <div class="a11y-hidden">
            <h2>{{section.title}}</h2>
            <strong>{{section.desc}}</strong>
          </div>
          <div class="section-content" :class="{contentSlide: section.content && section.content.type === 'slide'}">
            <span class="arrow bounce" v-if="section.key === 'visual'">
              <img src="/renewal/images/arrow.png" alt="스크롤">
            </span>

            <div class="product-movie" v-if="section.key === 'philosophy'">
              <div id="productMov" style="display:none"></div>
              <img class="mov-cover" onclick="startMov();" src="/renewal/images/product/m/mov-cover.png"
                alt="">
            </div>
            <!-- content: slider -->
            <div v-if="section.content && section.content.type === 'slide'" class="section-slider">
              <div v-for="(slide, slideIdx) in section.content.listNum" class="section-slider__item">             
                <img :src="imgUrlPrefix+'/s0'+(idx+1)+'-slide-0'+(slideIdx+1)+'.png'" alt="">
              </div>
            </div>
          </div>

          <a class="btn__free" v-if="section.key === 'kabrita-origin'" href="./kabrita_try">무료체험신청</a>
          <!-- pager -->
          <!-- <ul class="section-pager">
            <li v-for="(pager, pagerIdx) in sections" class="section-pager__item" :class="{on: pagerIdx === idx }">
            </li>            
          </ul> -->
        </section> 
        <button type="button" class="btn__top" onclick="topBtn(); return false;">top</button>
        <!-- nav : start -->
        <div id="kabrita-nav-bottom" th:include="renewal/_nav-bottom-mobile :: kabrita-nav-bottom"></div>
        <!-- nav : end -->       
      </div>
    </div>

    <!-- 이벤트 body영역 JS 파일 추가 -->
    <th:block layout:fragment="body-script" th:remove="tag">
      <script src="/renewal/js/jquery.scrollify.js"></script>     
      <script src="/renewal/js/screenScroll.js"></script>   
      <script src="/renewal/js/gnbControl.js"></script>   
      <script src="/vendor/slick/slick-fixed.js"></script>

      <script src="/vendor/vue/vue.min.js"></script>      
      <script>
        // 해당 페이만의 설정
        var deviceKind = 'm';
      </script>
      <script src="/renewal/product/js/youtubeApi.js"></script>
      <script src="/renewal/product/js/product-main.js"></script>
    </th:block>
  </body>
</html>
