.page-age{    
  background: url($imgPath + '/page-age/bg.png') #d5e0e4 center top no-repeat;
  .page__inner{
    background: url($imgPath+'/page-age/visual.png') right top no-repeat; 

    .btn-join-event{  
      top: 517px;       
      left: 334px;      
      button{
        background: url( $imgPath + '/page-age/btn-join-event.png') center center no-repeat;
        width: 271px; 
        height: 271px;
      }      
    }
    .event-duration{
      top: 517px;      
    }
    .event-notice{
      top: 835px;
      background: url( $imgPath + '/page-age/event-notice.png') center top no-repeat;            
      height: 420px;
      button{
        width: 201px; 
        height: 45px;
        position: absolute;
        top: 130px;
        right: 80px;
        border-radius: 3rem;
      }
    }      
  }  
}

