@{
    ViewBag.Title = "Forbidden";
    Layout = null;
}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .notFound_area {
            padding: 150px 0;
            text-align: center;
        }

            .notFound_area .btn_ok {
                padding-top: 20px;
            }
    </style>
</head>
<body>
    <!-- 잘못된 페이지 -->
    <div class="notFound_area">
        <div class="txt_tl">
            접근권한이 없습니다.
        </div>
    </div>
</body>
</html>
<!-- // 잘못된 페이지 -->