<?xml version="1.0" encoding="utf-8"?>

<!-- web.config 변환 사용에 대한 자세한 내용은 http://go.microsoft.com/fwlink/?LinkId=125889를 참조하세요. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    아래 예에서, "Match" 로케이터가 "MyDB" 값을 가진 "name" 특성을 
 찾은 경우에만 "SetAttributes" 변환에서 "ReleaseSQLServer"를 
 사용하도록 "connectionString"의 값을 변경합니다.
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="kmc.state" value="debug" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <!--
      
      아래 예에서 "Replace" 변환은 web.config 파일의 
      <customErrors> 섹션 전체를 바꿉니다.
      <system.web> 노드 아래에는 customErrors 섹션이 하나만 있기 때문에 
      "xdt:Locator" 특성을 사용할 필요가 없습니다.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    >
    -->
  </system.web>

  <system.webServer>
    <!--<rewrite xdt:Transform="Insert">
      <rules>
        <rule name="CanonicalHostNameRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^test\.www\.orange-event\.kr$" negate="true" />
            <add input="{HTTPS}" pattern="on" negate="true" />
          </conditions>
          <action type="Redirect" url="https://test.www.orange-event.kr/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>

  <connectionStrings>
    <add name="INGLife.Event" connectionString="data source=61.111.18.75;initial catalog=INGLife.Event.Test;persist security info=True;MultipleActiveResultSets=True;user id=INGLife.Event.Test;password=Vpsxkzmf2017!@#" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />    
    <add name="INGLife.Event.Message" connectionString="data source=61.111.18.75;initial catalog=INGLife.Event;persist security info=True;MultipleActiveResultSets=True;user id=INGLife.Event;password=Vpsxkzmf2017!@#" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>