/*!
 * tag reset&base
 * 2017.10.11
 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top; }

img {
  border: 0;
  vertical-align: top;
  line-height: 0;
  font-size: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0; }

/*a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; // For some Androids
}*/
/*a:hover, a:active {
	text-decoration: none;
	outline: 0;
}*/
/*a:link, a:visited {
	text-decoration: none;
}*/
#dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../Images/dim.png") repeat center top; }

/*!
 * font set
 * 2017.10.11
 */
body, input, textarea {
  font-family: 'Myriad Pro', 'Malgun Gothic', dotum, sans-serif; }

.a11y-hidden {
  position: absolute;
  top: auto;
  left: -9999em;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

div[id^="pop-"] {
  display: none;
  position: absolute;
  left: 50%;
  width: 720px;
  margin-left: -360px;
  z-index: 99;
  background-color: #fff; }

.inner-pop {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 50px; }

.header {
  position: relative;
  background-color: #e2703a; }
  .header button {
    position: absolute;
    right: 15px;
    top: 15px;
    background-image: url(about:blank); }

.pop-title {
  height: 160px;
  line-height: 160px;
  text-align: center; }
  .pop-title img {
    vertical-align: middle; }

label {
  cursor: pointer; }

img {
  pointer-events: none; }

input {
  min-width: initial; }

input[type="text"],
input[type="number"],
input[type="tel"],
select {
  width: 600px;
  height: 70px;
  min-width: auto;
  padding-left: 30px;
  margin-bottom: 15px;
  line-height: 57px;
  border: 1px solid #ac9988;
  background: #fff;
  color: #777;
  font-family: "Noto Sans KR";
  font-size: 24px;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: .0001; }

.pop-personal {
  background: #fff; }
  .pop-personal .top-note {
    margin-top: 60px;
    text-align: center; }
  .pop-personal .btn-phoneconfirm {
    margin: 30px 0 70px;
    text-align: center; }
    .pop-personal .btn-phoneconfirm button {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #524840; }
  .pop-personal label {
    position: relative;
    display: inline-block;
    width: 190px;
    line-height: 45px;
    font-size: 0; }
    .pop-personal label.width-auto {
      width: auto; }
    .pop-personal label span {
      display: inline-block;
      width: 45px;
      height: 45px;
      margin-right: 13px;
      background: url("../../Images/orange4050/form/input-check.png") center top no-repeat; }
      .pop-personal label span.em {
        background: url("../../Images/orange4050/form/input-check-em.png") center top no-repeat; }
    .pop-personal label span.radio {
      display: inline-block;
      width: 45px;
      height: 45px;
      margin-right: 13px;
      background: url("../../Images/orange4050/form/input-radio.png") center top no-repeat; }
      .pop-personal label span.radio.em {
        background: url("../../Images/orange4050/form/input-radio-em.png") center top no-repeat; }
    .pop-personal label .check-dimm {
      position: absolute;
      top: -7px;
      left: -7px;
      width: 95%;
      height: 53px;
      background: transparent;
      opacity: .3; }
    .pop-personal label input:checked ~ .check-dimm {
      display: block; }
    .pop-personal label input:checked ~ span {
      background-position: center bottom !important; }
    .pop-personal label img {
      margin-right: 15px;
      vertical-align: middle; }
  .pop-personal .select-title {
    display: block;
    margin: 40px 0 20px; }
  .pop-personal .info-area {
    position: relative;
    text-align: left; }
    .pop-personal .info-area .transparent-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 600px;
      height: 240px;
      background: rgba(0, 0, 0, 1e-06); }
      .pop-personal .info-area .transparent-bg a {
        display: block;
        height: 100%;
        cursor: default; }
    .pop-personal .info-area .name-line input[type="text"] {
      float: left;
      width: 380px;
      margin-right: 10px; }
    .pop-personal .info-area .name-line .gender {
      float: left;
      width: 210px;
      height: 70px;
      overflow: hidden;
      font-size: 0; }
      .pop-personal .info-area .name-line .gender label {
        cursor: pointer; }
      .pop-personal .info-area .name-line .gender .info-male {
        width: 106px; }
        .pop-personal .info-area .name-line .gender .info-male span {
          width: 106px;
          height: 70px;
          background: url("../../Images/orange4050/form/btn-man.png") top center no-repeat; }
        .pop-personal .info-area .name-line .gender .info-male input:checked ~ span {
          background-position: center bottom; }
      .pop-personal .info-area .name-line .gender .info-female {
        width: 104px; }
        .pop-personal .info-area .name-line .gender .info-female span {
          width: 104px;
          height: 70px;
          margin: 0;
          background: url("../../Images/orange4050/form/btn-woman.png") top center no-repeat; }
        .pop-personal .info-area .name-line .gender .info-female input:checked ~ span {
          background-position: center bottom; }
    .pop-personal .info-area input[type="text"] {
      background-position: 30px center; }
  .pop-personal .agree-notice {
    padding: 0;
    padding-bottom: 42px;
    margin: 26px 0 44px 0;
    border: none;
    border-bottom: 2px solid #777; }
  .pop-personal .agree-text {
    margin-bottom: 38px;
    text-align: left; }
    .pop-personal .agree-text p {
      margin-top: 15px;
      padding-top: 30px;
      border-top: 1px solid #777; }
    .pop-personal .agree-text .label-agree {
      width: 175px; }
      .pop-personal .agree-text .label-agree.disagree {
        width: 240px; }
    .pop-personal .agree-text.bottom-line {
      padding-bottom: 30px;
      border-bottom: 1px solid #cbcccd; }
  .pop-personal .retention-period {
    font-size: 0;
    text-align: left; }
    .pop-personal .retention-period label[for="year2"],
    .pop-personal .retention-period label[for="year1"] {
      margin-top: 15px; }
  .pop-personal .contact-check {
    font-size: 0;
    text-align: left; }
    .pop-personal .contact-check p {
      margin-bottom: 20px; }
  .pop-personal .emoticon-view {
    margin-top: 20px; }
    .pop-personal .emoticon-view > img {
      display: none; }
    .pop-personal .emoticon-view .emoticon-note {
      margin: 30px 0 70px; }
  .pop-personal .btn-complete-box {
    position: relative;
    margin-top: 34px;
    padding-top: 44px;
    border-top: 1px solid #ac9988; }
    .pop-personal .btn-complete-box .loading {
      position: absolute;
      top: 44px;
      left: 0;
      width: 100%;
      height: 112px;
      text-align: center;
      filter: alpha(opacity=60);
      opacity: 0.60;
      background-color: #000;
      overflow: hidden; }
      .pop-personal .btn-complete-box .loading img {
        padding-top: 25px; }

.agree-pop {
  text-align: center;
  padding-bottom: 80px;
  z-index: 999 !important; }
  .agree-pop .header {
    height: 160px; }
    .agree-pop .header .pop-title {
      line-height: 160px; }
  .agree-pop .inner-pop {
    width: 600px;
    padding: 60px 0 80px;
    margin: 0 auto;
    text-align: left; }

/*.pop-post {
    padding: 0;
    .btn-close {
        top: 0px;
        right: 0px;
    }
}*/
.pop-confirm {
  height: 850px;
  background: url("../../Images/orange4050/form/pop-confirm.png") no-repeat;
  background-color: #f7f3e7 !important; }
  .pop-confirm .btn-close {
    position: absolute;
    right: 14px;
    top: 14px; }
  .pop-confirm .btn-ok a {
    display: block;
    width: 488px;
    height: 80px;
    margin: 710px auto 0;
    background: url("../../Images/orange4050/form/btn-agree.png") no-repeat; }

.btn-plus:after, .btn-marketing:after {
  content: '';
  position: absolute;
  right: 25px;
  top: 35px;
  display: inline-block;
  width: 68px;
  height: 105px;
  background: url("../../Images/orange4050/icon-click.png") no-repeat; }

body {
  padding: 0;
  margin: 0; }

button:focus {
  outline: 0; }

.blind {
  position: absolute;
  top: -1000em;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0; }

.wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }
  .wrap .event-inner {
    position: relative;
    width: 720px;
    margin: 0 auto;
    text-align: center; }

.kv {
  height: 873px;
  background: url("../../Images/orange4050/bg-kv.jpg") no-repeat; }

.emoticon-step01 {
  height: 1082px;
  background: url("../../Images/orange4050/bg-step1.jpg") no-repeat; }

.emoticon-step02 {
  height: 918px;
  background: #f26825 url("../../Images/orange4050/bg-step2.jpg") no-repeat; }

.sns-share {
  height: 458px;
  background: url("../../Images/orange4050/bg-share.jpg") no-repeat; }
  .sns-share .sns-btn-wrap {
    padding-top: 247px; }

footer {
  height: 399px;
  background: url("../../Images/orange4050/bg-footer.jpg") no-repeat; }

.btn {
  width: 640px;
  height: 106px;
  font-size: 0;
  background: url("../../Images/orange4050/btns.png") no-repeat; }
  .btn-plus {
    position: relative;
    margin-top: 976px;
    background-position: 0 -230px; }
  .btn-marketing {
    position: relative;
    margin-top: 510px;
    background-position: 0 -115px; }
    .btn-marketing.on {
      background-position: 0 0; }
  .btn-kakao {
    background-position: 0 -345px; }
  .btn-naver {
    margin-left: 35px;
    background-position: -165px -345px; }
  .btn-facebook {
    margin-left: 35px;
    background-position: -330px -345px; }

.btn-share {
  width: 130px;
  height: 130px; }
