@{
    ViewBag.Title = "[매직킨더앱런칭 이벤트] 통계";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@ViewBag.Title</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row" ng-app="app-admin-magic-kinder-launching" ng-controller="ctrl-admin-magic-kinder-launching-stats">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-video-camera fa-fw"></i> @ViewBag.Title
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="row" style="padding-bottom:10px">
                        <div class="col-xs-6">
                            전체 <span style="color:red">{{ data.totalItemCount }}</span>건
                            <a class="btn btn-primary" href="@Url.Action("StatisticsExcelDownload", "AdminMagicKinderAppLaunching")"><i class="fa fa-download"></i> 엑셀다운로드</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover table-condensed" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="vert-middle text-center" rowspan="2">연락처</th>
                                            <th class="vert-middle text-center" rowspan="2">이름</th>
                                            <th class="vert-middle text-center" rowspan="2">총참여수</th>
                                            <th class="vert-middle text-center" rowspan="2">총참여수 (노출)</th>
                                            <th class="vert-middle text-center" colspan="12">카테고리</th>
                                        </tr>
                                        <tr>
                                            <th class="vert-middle text-center">밑그림 그리고 칠하기</th>
                                            <th class="vert-middle text-center">밑그림 그리고 칠하기 (노출)</th>
                                            <th class="vert-middle text-center">비디오 시청</th>
                                            <th class="vert-middle text-center">비디오 시청 (노출)</th>
                                            <th class="vert-middle text-center">놀면서 배워요</th>
                                            <th class="vert-middle text-center">놀면서 배워요 (노출)</th>
                                            <th class="vert-middle text-center">동화</th>
                                            <th class="vert-middle text-center">동화 (노출)</th>
                                            <th class="vert-middle text-center">우리 별 체험</th>
                                            <th class="vert-middle text-center">우리 별 체험 (노출)</th>
                                            <th class="vert-middle text-center">기타</th>
                                            <th class="vert-middle text-center">기타 (노출)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in data.items">
                                            <td class="vert-middle text-center">{{ item.mobile }}</td>
                                            <td class="vert-middle text-center">{{ item.name }}</td>
                                            <td class="vert-middle text-center">{{ item.totalCount}}</td>
                                            <td class="vert-middle text-center">{{ item.totalIsShowCount}}</td>
                                            <td class="vert-middle text-center">{{ item.coloringCount}}</td>
                                            <td class="vert-middle text-center">{{ item.coloringIsShowCount}}</td>
                                            <td class="vert-middle text-center">{{ item.videoCount}}</td>
                                            <td class="vert-middle text-center">{{ item.videoIsShowCount}}</td>
                                            <td class="vert-middle text-center">{{ item.playingCount}}</td>
                                            <td class="vert-middle text-center">{{ item.playingIsShowCount}}</td>
                                            <td class="vert-middle text-center">{{ item.storyCount}}</td>
                                            <td class="vert-middle text-center">{{ item.storyIsShowCount}}</td>
                                            <td class="vert-middle text-center">{{ item.earthTripCount}}</td>
                                            <td class="vert-middle text-center">{{ item.earthTripIsShowCount}}</td>
                                            <td class="vert-middle text-center">{{ item.etcCount}}</td>
                                            <td class="vert-middle text-center">{{ item.etcIsShowCount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="text-align:center">
                                <a href="#" ng-show="!data.isFirstPage" ng-click="goToPage(1)">처음</a>
                                <a href="#" ng-show="data.hasPreviousPage" ng-click="goToPage(data.pageNumber - 1)">이전</a>
                                <a href="#" ng-repeat="page in data.pageNumber | pages:data.pageCount" ng-click="goToPage(page)"> {{ page }} </a>
                                <a href="#" ng-show="data.hasNextPage" ng-click="goToPage(data.pageNumber + 1)">다음</a>
                                <a href="#" ng-show="!data.isLastPage" ng-click="goToPage(data.pageCount)">마지막</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
@section scripts {
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/Admin/magic-kinder-luanching.js"></script>
}

