@model INGLife.Event.Models.KMCModels.ResultKMCModel
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Model.CertNum</p>
<p>@Model.DescriptCI </p>
<p>@Model.DescriptDI </p>
