//===================================
// variable
//===================================\
$location: '../../images/kabrita/product/w/';

//===================================
// mixin
//===================================


//===================================
// reset
//===================================


//===================================
// helper
//===================================


//===================================
// common
//===================================



//===================================
// page
//===================================

.kabrita-product {
    position: relative;
    width: 100%;
    min-width: $width-min;

    .visual  {
        height: 720px;
        @include background('visual-bg.jpg', $position:top center);
    }

    .philosophy {
        height: 860px;
        text-align: center;
        @include background('philosophy-bg.jpg', $position:top center);
        .iframe__product {
            width: inherit;
            height: 590px;
            margin-top: 182px;
        }
    }

    .nutrition {
        height: 660px;
        @include background('nutrition-bg.jpg', $position:top center);
    }

    .technology {
        height: 1130px;
        @include background('technology-bg.jpg', $position:top center);
    }

    .management-system {
        height: 875px;
        @include background('management-system-bg.jpg', $position:top center);
    }

    .kabrita-goat {
        height: 985px;
        @include background('kabrita-goat-bg.jpg', $position:top center);
    }

    .kabrita-origin {
        height: 1155px;
        padding-top: 834px;
        @include background('kabrita-origin.jpg', $position:top center);
        @for $i from 1 through 2 {
            .kabrita-event#{$i}{
                position: relative;
                display: inline-block;
                width: 490px;
                height: 240px;
                padding: 34px 0 0 30px;
                @include background('kabrita-event#{$i}-bg.jpg', $position:right bottom);
                background-size: 100% 100%;
                transition: all .5s ease;
                &:hover {
                    background-size: 105% 105%;
                }
            }
        }
        .kabrita-event1 {
            margin-right: 20px;
            font-size: 0; 
        }
    }

    .kabrita-banner {
        height: 260px;
        @include background('kabrita-banner.jpg', $position:top center);
    }

    // btns
    .btn__ {
        &product {
            position: absolute;
            @include background('btns.png');
        }

        &go-nickname {
            top: 156px;
            left: 30px;
            width: 170px;
            height: 45px;
            background-position: 0 0;
        }

        &go-experience {
            top: 156px;
            left: 30px;
            width: 170px;
            height: 45px;
            background-position: 0 -55px;
        }

        &go-shop {
            top: 149px;
            right: 289px;
            width: 200px;
            height: 60px;
            background-position: 0 -110px;
        }

        &go-info {
            top: 149px;
            right: 69px;
            width: 200px;
            height: 60px;
            background-position: 0 -180px;
        }
    }
}