
@{
    ViewBag.Title = "킨더조이 디즈니 커플 & 스타워즈 이벤트";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/DisneyStarWars2018/css/event.css" rel="stylesheet" />
}

<div class="event-container" id="disney-starwars-2018-event">
    @*<video class="video-player" autoplay="" controls controlsList="nodownload" src="http://fr-kinderjoy.s3.amazonaws.com/DisneyStarWars2018/20180501_001.mp4"></video>*@
    @*<img src="~/Images/DisneyStarWars2018/event-main-kv.jpg" alt="Alternate Text" />*@
    
    <!-- 상단영역 -->
    <div class="event-intro" id="eventIntro">
        <div class="toyview-container">
            <!-- 킨더 -->
            <div class="toyview kj" id="kjContainer">
                <div class="event-intro-heading">
                    <div class="a11y-hidden">
                        <h2>NEW! 킨더조이 디즈니커플&스타워즈 출시!</h2>
                        <p>새로 나온 서프라이즈를 만나보세요!</p>
                    </div>
                </div>
                @*<div class="item logo"></div>*@
                <div class="item top"></div>
                <div class="item sky kitikiti"></div>
                <div class="item back"></div>
                <div class="item toy dongdong"></div>
                <div class="item center heartbeat"></div>
            </div>
            <!-- 스타워즈 -->
            <div class="toyview star" id="starContainer">
                <div class="event-intro-heading">
                    <div class="a11y-hidden">
                        <h2>새로나온 스타워즈 서프라이즈와 함께 우주 속 세상을 경험하세요!</h2>
                    </div>
                </div>
                <div class="item logo"></div>
                <div class="item top"></div>
                <div class="item back"></div>
                <div class="item toy bgbg"></div>
                <div class="item center"></div>
                <div class="item center-deco flash"></div>
            </div>
            <!-- 디즈니 -->
            <div class="toyview disney" id="disneyContainer">
                <div class="event-intro-heading">
                    <div class="a11y-hidden">
                        <h2>새로 나온 디즈니커플 서프라이즈와 함께 동화 속 공주님이 되어보세요!</h2>
                    </div>
                </div>
                <div class="item logo"></div>
                <div class="item top"></div>
                <div class="item sky twinkle"></div>
                <div class="item toy dancing"></div>
                <div class="item center"></div>
            </div>
            
        </div>
    </div>
    <!-- // 상단영역 -->

    <!-- 이벤트 영역 -->
    <div class="event-area" id="eventArea">
        <div class="heading">
            <img src="~/Images/DisneyStarWars2018/w/heading-main-event.png" alt="킨더조이 뽀로로 즉석당첨 이벤트" />
            <div class="a11y-hidden">
                <h2>킨더조이 디즈니 커플&스타워즈 즉석당첨 이벤트</h2>
                <p>네이버 검색창에서 킨더조이 소풍을 검색하고 즉석당첨을 확인하세요!</p>
            </div>
        </div>

        <!-- 네이버 검색 -->
        <div class="naver-search-go">
            <div class="search-deco"></div>
            <div class="search-deco-click slide-tl"></div>
            <a onclick="javascript: alert('이벤트가 종료되었습니다.');lab(2);" target="_blank"><img src="~/Images/DisneyStarWars2018/w/naver-search.png" id="btn-naver-landing" alt="네이버에 킨더조이 소풍 검색하러 가기" /></a>
            
            <div class="text-flow animate-flow"></div>
        </div>

        <!-- 이벤트 기간, 참여방법 -->
        <div class="event-info">
            <div class="a11y-hidden">
                <p>이벤트 기간 : 2018년 5월 10일 ~ 2018년 5월 31일</p>
                <p>참여방법</p>
                <ol>
                    <li>네이버에서 '킨더조이 소풍' 검색!</li>
                    <li>즉석당첨 버튼 클릭!</li>
                    <li>킨더조이 TVCF 시청</li>
                    <li>즉석당첨 결과 확인!</li>
                </ol>
                <p>경품 안내</p>
                <ul>
                    <li>디즈니커플&스타워즈 킨더조이 기프티콘 (랜덤발송) 1,500명</li>
                    <li>디즈니 공주거울 100명</li>
                    <li>스타워즈 물컵(3개 세트)</li>
                </ul>
            </div>
        </div>

        <!-- 비디오 영역 -->
        <div class="video-wrap" id="disney-starwars-video" onclick="javascript:lab(7)">
            <img src="~/Images/DisneyStarWars2018/w/text-video-title.png" alt="" />
            <div class="video-inner">
                <div id="eventPlayer"></div>
                <div class="video-cover">
                    <img src="~/Images/DisneyStarWars2018/w/video-cover.png" alt="" />
                </div>
            </div>
            <span class="video-deco">
                <img src="~/Images/DisneyStarWars2018/w/lino-on-video.png" alt="" />
            </span>
        </div>

        <!-- 이벤트 유의사항 -->
        <div class="event-note">
            <div class="event-note-inner"></div>
            <div class="a11y-hidden">
                <p>이벤트 유의사항</p>
                <ul>
                    <li>회사 내부 사정에 의하여 경품이 변경될 수 있습니다.</li>
                    <li>부적절한 형태로 이벤트에 응모시 당첨에서 제외됩니다.</li>
                    <li>이벤트 관련 문의사항은 kinderkorea1@gmail.com으로 연락 부탁드립니다.</li>
                    <li>잘못된 개인정보 입력으로 연락이 불가능하거나, 경품이 반송될 경우 이는 재발송되지 않습니다.</li>
                    <li>당첨된 기프티콘은 이벤트 종료 후 mms를 통해 일괄 발송 됩니다.</li>
                    <li>즉석당첨 이벤트의 경우 중복 참여가 가능함, 매일 참여할수록 당첨확률이 높아집니다.</li>
                    <li>배송받는 경품은 당첨자 발표 후, 1주일 내 이벤트 참여 시 입력한 주소지로 배송됩니다.</li>
                </ul>
            </div>
        </div>
        <div class="kj-event-copyright">
            <img src="~/Images/DisneyStarWars2018/w/copyright.png" alt="copyright"/>
        </div>

    </div>
    
    @Html.Partial("./_Popup")
    @Html.Partial("./_youtubeAPI")
    @Html.Partial("./_PopupPrizeWinner")

</div>

    

@section scripts {
<script type="text/javascript">
    var popAutoPlayMode = false;     
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="~/Scripts/DisneyStarWars2018/pub-deviceCheck.js" type="text/javascript"></script>
<script src="~/Scripts/DisneyStarWars2018/pub-common.js" type="text/javascript"></script>
<script src="~/Scripts/DisneyStarWars2018/pub-effect.js" type="text/javascript"></script>
<script src="~/Scripts/DisneyStarWars2018/pub-event.js" type="text/javascript"></script>

<script type="text/javascript" src="~/Scripts/Common/devCommon.js"></script>
<script type="text/javascript" src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<script src="~/Scripts/vue.min.js"></script>

    
<script type="text/javascript"> 
    lab(); // 랩사 태그호출


    if ('@ViewBag.IsShowInstantLottery' == 'True'){
        popAutoPlayMode = false;
        openPop('mov-view');
    } else {

    }    
</script>
   <script src="~/Scripts/DisneyStarWars2018/disney-starwars-pub-dev.js" type="text/javascript"></script> 
}