
@-webkit-keyframes verticalSwing{
    0%{top: -80px;}
    60%{top: -70px;}
    100%{top: -80px;}
}
@-moz-keyframes verticalSwing{
    0%{top: -80px;}
    60%{top: -70px;}
    100%{top: -80px;}
}
@-o-keyframes verticalSwing{
    0%{top: -80px;}
    60%{top: -70px;}
    100%{top: -80px;}
}
@keyframes verticalSwing{
    0%{top: -80px;}
    60%{top: -70px;}
    100%{top: -80px;}
}
