
@{
    ViewBag.Title = "ING생명 숨은자산찾기";
}

@section styles {
    <link href="~/Content/HiddenAssets/style.css" rel="stylesheet" />
    <link href="~/Content/HiddenAssets/slider-pro.min.css" rel="stylesheet" />
}

<div id="wrap">
    <div class="popDim"></div>
    <!-- asset -->
    <div class="asset3">
        <div class="section1">
            <div class="txtArea">
                <p>당신의 <strong>소비패턴은?</strong></p>
            </div>
            <!-- 골드미스 -->
            <div class="styleList">
                <ul>
                    <li class="type1"><span><!-- 커피 --></span></li>
                    <li class="type2"><span><!-- 택시비 --></span></li>
                    <li class="type3"><span><!-- 피부관리 --></span></li>
                    <li class="type4"><span><!-- 문화생활 --></span></li>
                    <li class="type5"><span><!-- 외식 --></span></li>
                    <li class="type14"><span><!-- 여행 --></span></li>
                    <li class="type7"><span><!-- 운동 --></span></li>
                    <li class="type8"><span><!-- 생활용품 --></span></li>
                    <li class="type9"><span><!-- 데이트 --></span></li>
                    <li class="type16"><span><!-- 네일아트 --></span></li>
                    <li class="type11"><span><!-- 쇼핑 --></span></li>
                    <li class="type12"><span><!-- 자동차 --></span></li>
                </ul>
            </div>
            <div class="averageBox">
                <p>평균소비금액</p>
                <div class="price">
                    <span>\</span>
                    <strong title="0"></strong>
                </div>
                <div class="posButton">
                    <button type="button" id="btnNext" class="btn bgOrg next">숨은자산찾기</button>
                </div>
            </div>
            <!-- // 골드미스 -->
        </div>
        <div class="section2">
            <div class="leftBox">
                <div class="averageBox">
                    <p>당신의 <strong>'숨은자산'</strong>은</p>
                    <div class="price">
                        <span>\</span>
                        <strong title="0"><span></span><em>입니다.</em></strong>
                    </div>
                </div>
                <div class="cardList">
                    <ul>
                        <li>
                            <span>커피&디저트</span>
                            <strong>\50,000</strong>
                        </li>
                        <li>
                            <span>택시비</span>
                            <strong>\50,000</strong>
                        </li>
                        <li>
                            <span>피부관리</span>
                            <strong>\50,000</strong>
                        </li>
                        <li>
                            <span>문화생활</span>
                            <strong>\50,000</strong>
                        </li>
                        <li>
                            <span>외식</span>
                            <strong>\50,000</strong>
                        </li>
                        <li>
                            <span>여행</span>
                            <strong>\200,000</strong>
                        </li>
                        <li>
                            <span>운동</span>
                            <strong>\100,000</strong>
                        </li>
                        <li>
                            <span>생활용품</span>
                            <strong>₩30,000</strong>
                        </li>
                        <li>
                            <span>데이트</span>
                            <strong>\50,000</strong>
                        </li>
                        <li>
                            <span>네일아트</span>
                            <strong>\50,000</strong>
                        </li>
                        <li>
                            <span>쇼핑</span>
                            <strong>\50,000</strong>
                        </li>
                        <li>
                            <span>자동차</span>
                            <strong>\50,000</strong>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rightBox">
                <div class="cardInfo">
                    <ul>
                        <li class="type1"><span><!-- 커피 --></span></li>
                        <li class="type2"><span><!-- 택시비 --></span></li>
                        <li class="type3"><span><!-- 피부관리 --></span></li>
                        <li class="type4"><span><!-- 문화생활 --></span></li>
                        <li class="type5"><span><!-- 외식 --></span></li>
                        <li class="type14"><span><!-- 여행 --></span></li>
                        <li class="type7"><span><!-- 운동 --></span></li>
                        <li class="type8"><span><!-- 생활용품 --></span></li>
                        <li class="type9"><span><!-- 데이트 --></span></li>
                        <li class="type16"><span><!-- 네일아트 --></span></li>
                        <li class="type11"><span><!-- 쇼핑 --></span></li>
                        <li class="type12"><span><!-- 자동차 --></span></li>
                    </ul>
                </div>
            </div>
            <div class="bottomBox">
                <div class="posButton">
                    <button type="button" id="btnNext2" class="btn bgOrg next">확인</button>
                </div>
            </div>
        </div>
        <div class="section3">
            <div class="txtArea">
                <strong>그렇다면, 20년 후<br />이 숨은 자산의 가치는 얼마나 될까요?</strong>
                <p>ING생명의 전문가가 알려드립니다.</p>
            </div>
            <div class="txtResult"><p>당신의 '숨은 자산'<br /><span>\<strong></strong></span></p></div>
            <div class="posButton">
                <button type="button" id="btnFirst" class="btn bgOrg next">롯데시네마 5,000원 쿠폰 받기</button>
            </div>
        </div>
    </div>
    <!--// asset -->
</div>



@section scripts {
    <script src="~/Content/js/HiddenAssets/jquery.sliderPro.min.js"></script>
    <script src="~/Content/js/HiddenAssets/common.js"></script>
    <script src="~/Content/js/HiddenAssets/hiiden-assets-ga.js"></script>
    <script type="text/javascript">
    $(function () {

        $('.section1').addClass('_motion');
        var $card = $('.cardList li');
        var $cardInfo = $('.cardInfo li');
        $('.styleList li').click(function () {
            $card;
            $cardInfo;
            var $sec1 = $('.section1 .price strong');
            var $sec2 = $('.section2 .price strong');
            var $sec3 = $('.section3 .txtResult p strong');

            var _price = parseInt($sec1.attr('title'));
            var _cutTotal = parseInt($sec2.attr('title'));
            var _avgPrice = [100000, 50000, 100000, 200000, 50000, 2000000, 100000, 100000, 250000, 50000, 200000, 200000];
            var _cutPrice = [50000, 50000, 50000, 50000, 50000, 200000, 100000, 30000, 50000, 50000, 50000, 50000];


            if ($(this).css('opacity') == 1) {
                var idx = $(this).index();
                if (!$(this).hasClass('_active')) {
                    $(this).addClass('_active');
                    _price = _price + _avgPrice[idx];
                    _cutTotal = _cutTotal + _cutPrice[idx];
                    $sec1.attr('title', _price);
                    $sec2.attr('title', _cutTotal);
                    $sec3.attr('title', _cutTotal);
                    $sec1.html(_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $sec2.find('span').html(_cutTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $sec3.html(_cutTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

                    $card.eq(idx).show().addClass('_show');
                    $cardInfo.eq(idx).show().addClass('_show');

                } else {
                    $(this).removeClass('_active');
                    _price = _price - _avgPrice[idx];
                    _cutTotal = _cutTotal - _cutPrice[idx];
                    $sec1.attr('title', _price);
                    $sec2.attr('title', _cutTotal);
                    $sec3.attr('title', _cutTotal);
                    $sec1.html(_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $sec2.find('span').html(_cutTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $sec3.html(_cutTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $card.eq(idx).hide().removeClass('_show');
                    $cardInfo.eq(idx).hide().removeClass('_show');
                }
            }
        });

        $('#btnNext').click(function () {
            if ($('.styleList li._active').length >= 1) {
                $('.section1').fadeOut(500);
                $('.section2').fadeIn(500);
                $('.section2 .rightBox').css('display', 'none');
                $('.section1').removeClass('_motion');
                $('.section2').addClass('_motion');
            }
            if ($('.cardList li._show').length == 1) {
                $('.cardList ul').css('height', '488px');
            }
            //$('.cardList li._show').eq(0).addClass('_active');
            //$('.cardInfo li._show').eq(0).addClass('_active');

            /* 180315 / 심소정 */
            $('.asset3').css('height', '100%');
        });

        $card.click(function () {
            var idx = $(this).index();
            if (!$(this).hasClass('_active')) {
                $card.removeClass('_active');
                $(this).addClass('_active');
                $cardInfo.removeClass('_active');
                $cardInfo.eq(idx).addClass('_active');
                $('.popDim').fadeIn(200);
                $('.section2 .rightBox').css('display', 'block');
            }

        });

        function popClose() {
            $('.popDim').fadeOut(200);
            $('.section2 .rightBox').css('display', 'none');
        }
        $(".cardInfo").click(function () {
            popClose();
        });

        $('#btnNext2').click(function () {
            $('.section2').fadeOut(500);
            $('.section3').fadeIn(500);
            setTimeout(function () {
                $('.section2').removeClass('_motion');
            }, 500);

            $('.section3').addClass('_motion');
            $('.asset3').addClass('_bg');

        });

        $('#btnFirst').click(function () {
            gaHiddenAsset('@ViewBag.Title', '롯데시네마 5,000원 쿠폰 받기', function () {
                alert('ING생명 마케팅동의 신청 완료 시 정상 참여됩니다.');
                $(location).attr('href', 'https://www.inglife.co.kr/biz/home/bs/ma/scwbsma010m.jsp?renk=10421');
            });
        });
    });
    </script>

}