<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout-mobile">

<head>
  <title>Love Grows, 카브리타</title>
</head>

<!-- 이벤트 Meta 태그 추가 -->
<th:block layout:fragment="meta" th:remove="tag">
  <meta property="og:title" content="베비언스X카브리타 산양조제식" />
  <meta property="og:url" content="https://www.kabrita.kr/" />
  <meta property="og:image" content="/renewal/images/sns/share-kabrita-main.jpg" />
  <meta property="og:description" content="카브리타 정품 무료 신청을 해보세요" />
</th:block>

<!-- 이벤트 CSS 파일 추가 -->
<th:block layout:fragment="css" th:remove="tag">
  <link rel="stylesheet" href="/renewal/main/css/style_m.min.css">
  </link>
</th:block>

<!-- 이벤트 JS 파일 추가 -->
<th:block layout:fragment="script" th:remove="tag"></th:block>

<body>
  <div layout:fragment="content">
      <!-- nav : start -->
      <div id="kabrita-nav" th:include="renewal/_nav-mobile :: kabrita-nav"></div>
      <!-- nav : end -->
    <div class="kabrita-main kabrita" id="main">
      <!-- main kv -->
      <div class="main-kv">
        <h2 class="babience__bi">
          <a href="http://www.babience.com/m/index.jsp" target="_blank"><img src="/renewal/images/main/m/bi-babience.png"
              id="babience-landing-btn" alt="베비언스" /></a>
        </h2>

        <div class="a11y-hidden">
          <h3>Love Grows, Kabrita</h3>
          <p>눈꽃러머 하얀 미세 입자로 덩어리짐 없이 녹아 부드럽게 소화되는 카브리타로 사랑이 자라나요</p>
        </div>

        <span class="arrow bounce"><img src="/renewal/images/arrow.png"
          alt="하단으로 내리기 화살표"></span>

          <a class="try-landing-btn" href="./kabrita_try"><img src="/renewal/images/main/m/try-landing-btn.png" alt="눈꽃_카브리타 3-step 체험"></a>
      </div>

      <!-- main-movie -->
      <div class="main__wrap">
        <h4 class="a11y-hidden">#눈꽃처럼 사르르 녹는 프리미엄 산양조제식 카브리타를 영상으로 확인해보세요!</h4>

        <div class="main-movie">
          <div id="maintMov"></div>
          <img class="mov-cover" src="/renewal/images/main/m/m-mov-cover.jpg"
            alt="">
        </div>
      </div>
      <button type="button" class="btn__top" onclick="topBtn(); return false;">top</button>
      <!-- gnb : start -->
      <div id="kabrita-nav-bottom" th:include="renewal/_nav-bottom-mobile :: kabrita-nav-bottom"></div>
      <!-- gnb : end -->
    </div>
  </div>
  <!-- 이벤트 body영역 JS 파일 추가 -->
  <th:block layout:fragment="body-script" th:remove="tag">
    <script src="/renewal/main/js/youtubeApi.js"></script>
    <script src="/renewal/main/js/main-pub.js"></script>

  </th:block>

</body>

</html>