$location: '../../Images/FcEvent/';
$wrapWidth: 720px;
//손가락 icon



body {
	padding: 0;
	margin: 0;
}

button:focus {
	outline: 0;
}


#loading {
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	filter: alpha(opacity=60);
	opacity: 0.60;
	background-color: #000;
	z-index:9999;

	img {
		position:absolute;
		top:50%;
		left:50%;
		margin:-100px 0 0 -100px;
	}
}

.wrap {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;

	.event-inner {
		position: relative;
		width: $wrapWidth;
		margin: 0 auto;
		text-align: center;
	}
}


.kv {
	height: 1050px;
	@include background('event-kv.jpg', $repeat:no-repeat);
	/*&-new {
		height: 1050px;
		@include background('new-kv.jpg', $repeat:no-repeat);
	}*/
}

.event-rule {
	position:relative;
	height: 1335px;
	@include background('event-rule.jpg', $repeat:no-repeat);
	&-new {
		position:relative;
		height:915px;
		@include background('new-rule.jpg', $repeat:no-repeat);

	}
}

footer {
	height: 680px;
	@include background('event-notice.jpg', $repeat:no-repeat);
	&.new {
		height:640px;
		@include background('new-notice.jpg', $repeat:no-repeat);
	}
}


.btn {
	position:absolute;
	left:60px;
	width: 600px;
	height: 110px;
	font-size: 0;
	@include background('btns.png', $repeat:no-repeat);

	&__join {
		bottom:230px;
		background-position: 0 0;
	}
	&__join-new {
		bottom:80px;
		background-position: 0 0;
	}
	&__kakao-share {
		bottom:80px;
		background-position: 0 -150px;
	}
}

