//---------------------------------------------------
// 네이버검색
//---------------------------------------------------
// 네이버검색 - 텍스트 효과
.animate-flow{
	@include prefix (animation, flow 3s infinite);
}
@include keyframes (flow) { 
 0% {
    @if $device == web {
      width:450px;
    }
    @else {
      width:276px;
    }
  }
  80% {
    width:0;
  }
}


//---------------------------------------------------
// 효과: 모션 
//---------------------------------------------------
.dongdong{
	@include prefix(animation, dongdong 1s infinite);
}

.heartbeat{
	@include prefix(animation, heartbeat 3s infinite);
}

.pororo{
  @include prefix(animation, pororo 8s infinite);
}

.animate-rotate-right {
    @include animation(shakeR, 4.5s ease-out infinite);
    transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	-webkit-transform-origin: bottom right; 
}

.bounce{
     @include animation(bounce, 1.6s ease);
	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%; 	
}

.slide-tl {
    @include animation(slide-tl, 1.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite);
}

.title-scale {
    @include animation(title-scale, 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both);
}

.scale-in-hor-center {
    @include animation(scale-in-hor-center, 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both);
}

// 동동거림
@include keyframes (dongdong) {
	0% {
		@include prefix(transform, translateY(0));
	}
	50% {
		@include prefix(transform, translateY(-5px));
	}
	100% {
		@include prefix(transform, translateY(0));
	}
}

// 좌우 
@include keyframes (pororo) {
	0% {
		@include prefix(transform, translateX(20px));
	}
	50% {
		@include prefix(transform, translateX(-20px));
	}
	100% {
		@include prefix(transform, translateX(20px));
	}
}

// 콩콩뛰기
@include keyframes (heartbeat) {
	10% {
		@include prefix(transform, translateY(-6px));
	}
	15% {
		@include prefix(transform, translateY(0));
	}
	20% {
		@include prefix(transform, translateY(-6px));
	}
	25% {
		@include prefix(transform, translateY(0));
	}
	to {
		//@include prefix(transform, rotateY(8deg));
	}
}

//왼쪽팔
@include keyframes(shakeR) {
    from {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-10deg);
    }
}

//kv 리노
@include keyframes(bounce) {
	0% {
		transform: translateY(0%) scaleY(0.8);
	}
	60%{
		transform: translateY(-20%) scaleY(1);
	}
	70%{
		transform: translateY(0%) scaleY(0.95) scaleX(1.05);
	}
	80%{
		transform: translateY(0%) scaleY(1.05) scaleX(1);
	}	
	90%{
		transform: translateY(0%) scaleY(0.95) scaleX(1);
	}				
	100%{
		transform: translateY(0%) scaleY(1) scaleX(1);
	}
}

//검색click
@include keyframes(slide-tl) {
  0% {
       transform: translateY(0) translateX(0);
  }
  100% {
       transform: translateY(-20px) translateX(-40px);
  }
}

//title
@include keyframes(scale-in-hor-center) {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}



