<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>kabrita-nav</title>
</head>
<body>
	<div th:fragment="kabrita-nav">
        <nav>
            <h1 class="nav__bi"><a href="/v1" id="nav-kabrita-main-landing">kabrita</a></h1>
            <div class="nav__inner">
                <h2 class="nav__logo"><a href="http://www.babience.com/index.jsp" id="nav-babience-main-landing" target="_blank">베비언스</a></h2>
                <ul>
                    <li class="nav__list1"><a href="/kabrita_quality" id="nav-kabrita-quality-landing">Why kabrita? 80Years history</a></li>
                    <li class="nav__list2"><a href="/kabrita_nickname" id="nav-kabrita-nickname-landing">Event01 카브리타 애칭작명소</a></li>
                    <li class="nav__list3"><a href="/kabrita_try/v1" id="nav-kabrita-try-landing">Event02 카브리타 체험신청</a></li>
                </ul>
            </div>
        </nav>

        <!-- <nav>
          <ul id="nav__bottom">
          	<li><a href="/" id="nav-kabrita-main-landing">Kabrita</a></li>
            <li><a href="/kabrita_quality" id="nav-kabrita-quality-landing">Why kabrita? 80 Years History</a></li>
            <li><a href="/kabrita_nickname" id="nav-kabrita-try-landing">Event01 카브리타 애칭작명소</a></li>
            <li><a href="/kabrita_try/v1" id="nav-kabrita-quiz-landing">Event02 카브리타 체험신청</a></li>
          </ul>
        </nav> -->
	</div>
</body>
</html>