<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
</head>

<body>
  <div th:fragment="page-challenge">
    <div class="page__inner">
      <div class="title">
        <img src="https://cetaphil-event.s3.amazonaws.com/static/body/images/m/page-challenge/title.png" alt="">
      </div>
      <div class="event-duration">
        <img src="https://cetaphil-event.s3.amazonaws.com/static/body/images/m/page-challenge/event-duration.png" alt="">
      </div>

      <div class="visual">
        <img src="https://cetaphil-event.s3.amazonaws.com/static/body/images/m/page-challenge/visual.png" alt="">

        <div class="event-btns">
          <img src="https://cetaphil-event.s3.amazonaws.com/static/body/images/m/page-challenge/event-join-txt.png" alt="">
          <button type="button" class="btn-join" @click="showPop('user-info')">
            <img src="https://cetaphil-event.s3.amazonaws.com/static/body/images/m/page-challenge/btn-join-event.png"
              alt="이벤트_시작버튼">
          </button>
        </div>
      </div>


      <div class="event-notice">
        <button type="button" class="btn-show-detail" @click="showPop('challenge-detail')">
          <img src="https://cetaphil-event.s3.amazonaws.com/static/body/images/m/page-challenge/btn-show-detail.png"
            alt="자세히보기">
        </button>
      </div>
    </div>
    <!-- || page__inner -->
  </div>
</body>

</html>