
@{
    ViewBag.Title = "킨더조이란";
    ViewBag.GaTitle = "킨더조이란";
}
<!--
<h2>about</h2>
    -->
<div class="mobile_wrap">
   <!-- content -->
   <div class="content-about">
     <!-- <a class="close" href="@Url.Action("Index")">close</a> -->
     <div><img src="~/Images/m/items/about-content1.png" alt="" /></div>
     <div><img src="~/Images/m/items/about-content2.png" alt="" /></div>
     <div><img src="~/Images/m/items/about-content3.png" alt="" /></div>
     <div><img src="~/Images/m/items/about-content4.png" alt="" /></div>
		
       <div class="copyright">
           <p><img src="~/Images/m/copy.png" alt="CopyrightⓒFerrero 2015 all rights reserved"></p>
       </div>
			
	</div>
</div>
<!-- // content -->
