
@{
    ViewBag.Title = "맛있는즐거움";
    ViewBag.GaTitle = "맛있는즐거움";
}
<!--
<h2>flavor</h2>
    -->
<div class="mobile_wrap">
   <!-- content -->
   <div class="content-flavor">

    <div class="content-flavor-img">
      <!-- <a class="close" href="@Url.Action("Index")">close</a> -->
      <img src="~/Images/m/items/flavor-content.png" alt="첫번째! 킨더조이의 맛있는 즐거움 맛있는 코코아 크림,풍부한 우유크림과 함께 먹는 바삭바삭한 초코 웨하스 볼은 킨더조이가 아이들이 사랑을 받는 이유랍니다!" />
    </div>

       <div class="copyright">
        <p><img src="~/Images/m/copy.png" alt="CopyrightⓒFerrero 2015 all rights reserved"></p>
      </div>
  </div>
  <!-- // content -->
</div>