@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrivacyPolicy</title>
    <style type="text/css">
        body, div, span, dl, dt, dd, p, ul, li, h1 {
            margin: 0;
            padding: 0;
        }

        #privacypolicy {
            margin: 0;
            padding: 0;
            width: 850px;
            margin: 0 auto;
            padding: 25px;
        }

            #privacypolicy p {
                padding: 15px 0;
            }

            #privacypolicy ul {
                padding: 10px 0 0 60px;
            }

            #privacypolicy h1 {
                color: #E75233;
                padding-bottom: 10px;
            }

            #privacypolicy dl {
                padding: 15px 0;
            }

                #privacypolicy dl dt {
                    color: #E75233;
                    padding-bottom: 10px;
                    text-indent: 0;
                }

                #privacypolicy dl dd.txt {
                    padding: 10px 0;
                }

                #privacypolicy dl dd span {
                    display: block;
                    line-height: 1.6;
                }
    </style>
</head>
<body>
    <div id="privacypolicy">
        <h1>Privacy Policy</h1>
        <p>Ferrero TRADING LUX S.A. ("Ferrero," "we," or us") respects the privacy of every visitor to each of our websites, which include www.kinder.me and microsites accessed through the aforementioned websites (each a "Site," and collectively the "Sites"). This privacy policy ("Privacy Policy") discloses our practices with respect to the collection of information through the Sites and our use of the information. This Privacy Policy applies solely to information collected through the Sites, and does not apply to information collected through any other sources, including, without limitation, Facebook, Twitter, YouTube and other third party and social media websites. Please be advised that Ferrerois not responsible for any other websites maintained by other Ferrero companies in the Ferrero Group. By using the Sites, you agree with the terms of this Privacy Policy. If you do not agree with any term in this Privacy Policy, please do not use the Site(s) or provide any Personal Information to us.</p>
        <dl>
            <dt>COLLECTION OF PERSONAL AND NON-PERSONAL INFORMATION.</dt>
            <dd>We collect and store certain personally identifiable information about you (i.e., information which may identify you in some way; such as your age, name, address, telephone number, email address, screen name and/or financial information) ("PII") through a Site only when you voluntarily submit it. Ferrero will not collect PII from your visits to our Sites unless you provide it to us voluntarily and will not require you to provide more information than is necessary to participate in the activities on our Sites.</dd>
        </dl>
        <dl>
            <dt>COLLECTION OF NON-PERSONAL INFORMATION (COOKIES).</dt>
            <dd>When you connect to a Site, there is certain technical, non-personally identifiable information which does not identify any individual ("Non-PII") that may be collected and stored through the use of "cookie" technology and IP addresses. PII is not extracted in this process. Non-PII may include, but is not limited to, your IP host address, internet browser type, personal computer settings, and the number, duration, and character of page visits. This information assists us to update a Site so that it remains interesting to our visitors and contains content that is tailored to visitors' interests. You may set your computer browser to disable cookies or to alert you when cookies are being sent. If you disable cookies, we may be unable to optimize your visit to a Site and certain features on the Site may not be available.</dd>
        </dl>
        <dl>
            <dt>USE OF YOUR PII.</dt>
            <dd>When you provide your PII at a Site, we will limit the use of the PII for the purpose for which it was collected in accordance with the terms of this Privacy Policy. Other limited uses of your PII may include:</dd>
        </dl>
        <ul>
            <li>To respond to your questions, comments, and requests; to provide you with access to certain areas and features on a Site; and to communicate with you about your activities on a Site.</li>
            <li>To investigate suspected fraud, harassment, physical threats, or other violations of any law, rule or regulation, the rules or policies of a Site, or the rights of third parties; or to investigate any suspected conduct which we deem improper.</li>
            <li>To the extent that you provide us with financial information (such as credit card or bank account numbers) in connection with shopping or commercial services offered on a Site, we may use the financial information that you provide to fulfill your order.</li>
            <li>To help us develop, deliver and improve our products, services, content and advertising.</li>
            <li>To share with our parent, subsidiary, and affiliated companies, and promotional partners involved in creating, producing, delivering, or maintaining a Site, as required to perform functions on our behalf in connection with the Site (such as administration of the Site, administration of promotions or other features on the Site, marketing, data analysis, and customer services). In order to share such information, it may be necessary for us to transmit your PII outside the jurisdiction set forth below and you agree to this transfer. Further use or disclosure of PII by these parties for other purposes is not permitted.</li>
            <li>To share with third party service providers whom we employ to perform functions on our behalf in connection with the Site (such functions may include, but are not limited to, order fulfillment, delivering packages, sending postal mail and e-mail, removing repetitive information from customer lists, analyzing data and providing marketing assistance, processing credit card payments, and providing customer service). These third party service providers have access to PII that is needed to perform their functions, and may collect or store PII as part of their performance of these functions, but are not authorized to use it for other purposes.</li>
            <li>For our internal purposes such as auditing, data analysis, and research to improve our products, services and customer communications.</li>
            <li>For other purposes as disclosed when your PII is collected or in any additional terms and conditions applicable to a particular feature of a Site.</li>
            <li>For disclosures required by law, regulation, or court order.</li>
            <li>For the purpose of or in connection with legal proceedings or necessary for establishing, defending, or exercising legal rights.</li>
            <li>In an emergency to protect the health or safety of users of a Site or the general public, or in the interests of national security.</li>
        </ul>
        <p>Except as provided for herein, we will not provide any of your PII to any third parties without your specific consent.</p>
        <dl>
            <dt>MANAGING YOUR PERSONAL INFORMATION.</dt>
            <dd>You have the ultimate control over the PII that we collect and use. You can always chose not to provide certain PII, but please keep in mind that you may not be able to use some of the features offered by a Site unless you provide us with your PII (e.g., we will not be able to fulfill your purchase order without certain PII). If you wish to verify, update, or correct any of your PII collected through a Site, contact us at [*]</dd>
            <dd>
                <span>FERRERO TRADING LUX. S.A.</span>
                <span>TEAM MARKETING MIDDLE EAST AND AFRICA</span>
                <span>Findel Business Center, Complexe B, Rue de Trèves L-2632 FINDEL</span>
                <span>Tel: 00352 3497111</span>
                <span>Fax: 00352 349411</span>
            </dd>
        </dl>
        <dl>
            <dt>LINKS TO OTHER SITES.</dt>
            <dd>A Site may contain links to other websites that are not owned, operated, or maintained by us. You should note when you leave a Site and read the terms and conditions and privacy policies of each and every website that you visit. You should also independently assess the authenticity of any website which appears or claims that it is one of our Sites (including those linked to through an email). Despite any links that might exist on a Site, unless expressly stated otherwise, we do not control, recommend, or endorse and are not affiliated with these websites or their content, products, services, or privacy policies. Downloading material from certain websites may risk infringing intellectual property rights or introducing viruses into your computer system.</dd>
        </dl>
        <dl>
            <dt>PROTECTION OF CHILDREN'S PRIVACY.</dt>
            <dd>Ferrero takes the protection of children's privacy seriously. We operate the Sites in compliance with all applicable laws in the jurisdiction set forth below. We do not collect PII from any person under the age of thirteen (13). Children under thirteen (13) years of age should have a parent/ guardian's consent before providing any personal information to a Site. If we determine upon collection that a user is under this age, we will not use or maintain his/her personal information without his/her parent/guardian's consent. Without such consent, though, the child may not be able to participate in certain activities. A parent/guardian can review, remove, change, or refuse further collection or use of their child's personal information by contacting us at:</dd>
            <dd>
                <span>FERRERO TRADING LUX. S.A.</span>
                <span>TEAM MARKETING MIDDLE EAST AND AFRICA</span>
                <span>Findel Business Center, Complexe B, Rue de Trèves L-2632 FINDEL</span>
                <span>Tel: 00352 3497111</span>
                <span>Fax: 00352 349411</span>
            </dd>
        </dl>
        <dl>
            <dt>SECURITY PRACTICES; RETENTION.</dt>
            <dd>The security of your PII is very important to us. We have put in place reasonable physical, electronic, and managerial procedures to safeguard the information we collect. However, due to the inherent open nature of the Internet, we cannot guarantee that communications between you and us or information stored on a Site or our servers will be completely free from unauthorized access by third parties, such as hackers. Your use of a Site demonstrates your assumption of this risk. To the fullest extent permitted by law, we disclaim all liability and responsibility for any damages (including, but not limited to, any and all direct, special, indirect, consequential, or punitive loss or other damages of any kind, whether in contract (including fundamental breach), tort (including negligence), or otherwise) that you may suffer due to any loss, unauthorized access, misuse, or alteration of any information you submit to a Site. We retain information that we collect as long as it is necessary and relevant for our operations unless a longer retention period is required or permitted by law.</dd>
        </dl>
        <dl>
            <dt>TRANSFER OF ASSETS.</dt>
            <dd>During the course of our business, we may sell or purchase assets. If another entity acquires Ferrero or all or substantially all of our assets, PII and Non-PII that we have collected about the users of the Sites may be transferred to such entity. Also, if any bankruptcy or reorganization proceeding is brought by or against us, such information may be considered an asset of ours and may be sold or transferred to third parties.</dd>
        </dl>
        <dl>
            <dt>SEVERABILITY.</dt>
            <dd>If any term or provision of this Privacy Policy shall be held or declared to be invalid, illegal or unenforceable for any reason by any rule of law or public policy, such provision shall be severed to the extent invalid or unenforceable and the remaining provisions shall continue in full force and effect.</dd>
        </dl>
        <dl>
            <dt>CHANGES AND UPDATES TO OUR PRIVACY POLICY.</dt>
            <dd>Ferrero reserves the right to change or update this Privacy Policy at any time and without prior notice to you. Please check back from time to time for any changes or updates to our Privacy Policy, which will be posted here and will reflect an updated effective date on the first page of the Privacy Policy should any changes or updates be made.</dd>
        </dl>
    </div>
</body>
</html>
