
@{
    ViewBag.Title = "TVCF";
    ViewBag.GaTitle = "TVCF";
    ViewBag.TvCfKey = (DateTime.Now >= new DateTime(2018, 11, 1)) ? "pdNRpM4rXV0" : "Ghnw1N3NF70";
}
<!--
<h2>TVCF</h2>
    -->

<div class="mobile_wrap">
	<div class="content-tvcf">
		<div class="tvcf_tl"><img class="egg-img GA" src="~/Images/m/mov/mov_tl.png" alt="" /></div>
		<div class="tvcf_cont"><iframe src="https://www.youtube.com/embed/@ViewBag.TvCfKey?rel=0&showinfo=0&wmode=opaque" width="600" height="337" wmode="opaque" frameborder="0" allowfullscreen="1"></iframe></div>
	</div>
	<div class="copyright">
		<p><img src="~/Images/m/copy.png" alt="Copyright&copy;2015 kinderjoy group all Rights Reserved."></p>
	</div>
</div>