@{
    ViewBag.Title = "뉴브랜딩상담동의 이벤트";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row" style="padding-left:30px; padding-right:30px" id="rebranding-consulting">
    <div class="panel-heading">
        <button class="btn" v-bind:class="dataFilters.Month == 'october' ? 'btn-default' : 'btn-success'" v-on:click="monthGoToPage('september')"><span class="glyphicon glyphicon-calendar"></span> 9월</button>
        <button class="btn" v-bind:class="dataFilters.Month == 'october' ? 'btn-success' : 'btn-default' " v-on:click="monthGoToPage('october')"><span class="glyphicon glyphicon-calendar"></span> 10월</button>
    </div>
    <div class="panel panel-primary filterable" >
        <div class="panel-heading">
            <h3 class="panel-title">@ViewBag.Title 참여자</h3>
            <div class="text-right">
                <span>{{ data.totalItemCount }} 건</span>
                <button class="btn btn-success " v-on:click="excelDownload()"><span class="glyphicon glyphicon-download-alt"></span> excel</button>
            </div>
        </div>
        <table class="table table-bordered table-hover table-sortable" style="margin:10px;width:98.5%">
            <thead>
                <tr>
                    <th style="text-align:center;vertical-align:middle">번호</th>
                    <th style="text-align:center;vertical-align:middle">본인인증등록일</th>
                    <th style="text-align:center;vertical-align:middle">채널</th>
                    <th style="text-align:center;vertical-align:middle">IP</th>
                    <th style="text-align:center;vertical-align:middle">이름</th>
                    <th style="text-align:center;vertical-align:middle">연락처</th>
                    <th style="text-align:center;vertical-align:middle">성별</th>
                    <th style="text-align:center;vertical-align:middle">생년월일</th>
                    <th style="text-align:center;vertical-align:middle">관심분야</th>
                    <th style="text-align:center;vertical-align:middle">우편번호</th>
                    <th style="text-align:center;vertical-align:middle">주소</th>
                    <th style="text-align:center;vertical-align:middle">상세주소</th>
                    <th style="text-align:center;vertical-align:middle">개인정보등록일</th>
                    <th style="text-align:center;vertical-align:middle">관리</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, idx) in data.items">
                    <td>{{ data.totalItemCount - ((dataFilters.Page - 1) * (dataFilters.PageSize) + idx) }}</td>
                    <td>{{item.createDate | getDate}}</td>
                    <td>{{item.channelDisplayName}}</td>
                    <td>{{item.ipAddress}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.mobile}}</td>
                    <td>{{item.gender|getGender}}</td>
                    <td>{{item.birthDay}}</td>
                    <td>{{item.attetionTypoeDisplayName}}</td>
                    <td>{{item.zipCode}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.addressDetail}}</td>
                    <td>{{item.updateDate | getDate}}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div style="text-align:center">
            <div style="text-align:center">
                <a href="#" v-show="!data.isFirstPage" v-on:click="goToPage(1)">처음</a>
                <a href="#" v-show="data.hasPreviousPage" v-on:click="goToPage(data.pageNumber - 1)">이전</a>
                <a href="#" v-for="page in pages" v-on:click="goToPage(page)" v-bind:style="{ fontWeight : ( page === data.pageNumber) ? 'bold' : 'normal' }"> {{ page }} </a>
                <a href="#" v-show="data.hasNextPage" v-on:click="goToPage(data.pageNumber + 1)">다음</a>
                <a href="#" v-show="!data.isLastPage" v-on:click="goToPage(data.pageCount)">마지막</a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/js/rebranding/admin.js"></script>
    <script type="text/javascript">
        $(function () {
            consultingAgreeModel.goToPage(1);
        });
    </script>
}