<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="shared/layout-mobile">

<head>
  <title>카브리타 100% 쿠폰</title>
</head>

<!-- 이벤트 Meta 태그 추가 -->
<th:block layout:fragment="meta" th:remove="tag">
  <meta property="og:title" content="알쏭달쏭 카브리타 OX퀴즈" />
  <meta property="og:url" content="https://www.kabrita.kr/kabrita_quiz" />
  <meta property="og:image" content="/fourth/images/sns/share-kabrita-quiz.jpg" />
  <meta property="og:description" content="퀴즈만 풀어도 베비언스 쿠폰 100% 증정" />
</th:block>

<!-- 이벤트 CSS 파일 추가 -->
<th:block layout:fragment="css" th:remove="tag">
  <link rel="stylesheet" href="/fourth/ox-quiz/css/style_m.min.css">
  </link>
</th:block>

<!-- 이벤트 JS 파일 추가 -->
<th:block layout:fragment="script" th:remove="tag">
</th:block>

<body>
  <div layout:fragment="content" style="height:100%;">
    <div class="quiz-event kabrita" id="quizEvent" v-cloak>
      <!-- nav : start -->
      <div id="kabrita-nav" th:include="fourth/_nav-mobile :: kabrita-nav"></div>
      <!-- nav : end -->
      <section class="kv section">
        <div class="a11y-hidden">
          <h3>100% 쿠폰 OX퀴즈</h3>
          <P>알쏭달쏭 카브리타 OX퀴즈에 참여한 모든 분께 베비언스 할인쿠폰을 드립니다</P>
        </div>
        <div th:if="${isProceedingQuiz}">
          <button type="button" id="kabrita-quiz-open-btn" class="btn btn btn__quiz-start" @click="quizStart()">OX퀴즈 도전하기</button>
          <div class="btn-wrap-bottom">
            <button type="button" id="kabrita-quiz-sns-open-btn" class="btn btn btn__quiz-share" @click="sharePop()">이벤트 소문내기</button>
            <span class="btn btn__hint"><a href="http://www.babience.com/m/story/netherlands/list.jsp" target="_blank">힌트보기</a></span>
          </div>
        </div>
        <div th:if="${!isProceedingQuiz}">
          <button type="button" id="kabrita-quiz-open-btn" class="btn btn btn__quiz-start" @click="alert('이벤트 기간에 신청해주세요. ^^');">OX퀴즈 도전하기</button>
          <div class="btn-wrap-bottom">
            <button type="button" id="kabrita-quiz-sns-open-btn" class="btn btn btn__quiz-share" @click="alert('이벤트 기간에 신청해주세요. ^^');">이벤트 소문내기</button>
            <span class="btn btn__hint"><a href="http://www.babience.com/m/story/netherlands/list.jsp" target="_blank">힌트보기</a></span>
          </div>
        </div>
        <div class="quiz-notice">
          <h4 class="a11y-hidden">이벤트 유의사항</h4>
          <ul class="a11y-hidden">
            <li>1계정 당 동일한 할인율 쿠폰은 1회만 발급 가능</li>
            <li>이벤트 중복 참여 가능</li>
          </ul>
        </div>
      </section>

      <!-- quiz slider -->
      <div class="quiz-wrap section">
        <!-- <pre style="position:fixed; background:blue; color:#fff; font-size:11px; right:0; z-index: 1">
              {{ $data }}
            </pre> -->
        <button type="button" class="btn btn__reload-close" onClick="window.location.reload()">닫기</button>
        <div class="quizSlider">
          <div class="step-wrap quiz" v-for="(quiz, idx) in quizShuffled">
            <!-- 질문 -->
            <p class="quiz-number"><img :src="imgUrl + 'text_quiz' + idx + '.png'" alt=""></p>
            <!-- O / X -->
            <div class="quiz-select" v-if="quiz.userAnswer === '' ">
              <p class="quiz-question"><img :src="imgUrl + 'question0' + quiz.quizId + '.png'" alt=""></p>

              <span class="btn btn__o" @click="quiz.userAnswer = 'o'" v-text="'각 퀴즈 문항별 OX 버튼-' + quiz.quizId + '-O'"></span>
              <span class="btn btn__x" @click="quiz.userAnswer = 'x'" v-text="'각 퀴즈 문항별 OX 버튼-' + quiz.quizId + '-X'"></span>
            </div>
            
            <!-- 해답 -->
            <div class="quiz-answer" v-else>
              <!-- <p class="quiz-question"><img :src="imgUrl + 'question0' + quiz.quizId + '.png'" alt=""></p> -->
              <!-- 정답오답 문구 -->
              <!-- 정답 -->
              <p class="quiz-answer-text" v-if="quiz.answer === quiz.userAnswer , quiz.answer === quiz.userAnswer ? quiz.boolean=true : quiz.boolean=false">
                <img src="/renewal/images/ox-quiz/m/quiz-answer-right.png" alt="딩동댕 정답입니다!">
              </p>
              <!-- 오답 -->
              <p class="quiz-answer-text" v-else><img src="/renewal/images/ox-quiz/m/quiz-answer-wrong.png" alt="땡! 정답은~"></p>
              
              <div class="answer-wrap">         
                <img :src="imgUrl + 'answer0' + quiz.quizId + '.png'" alt="">
              </div>

              <button type="button" class="btn btn__next-quiz" @click="goNextQuiz()"v-if="idx < 2">다음 문제 풀기</button>
              <button type="button" class="btn btn__coupon-download" onclick="openPopup('quiz-personal'); return false;" @click="quizFinish()"
                v-else>쿠폰다운로드</button>

              <div class="nav-dot">
                <span :class="{active : idx === 0 }"></span>
                <span :class="{active : idx === 1 }"></span>
                <span :class="{active : idx === 2 }"></span>
              </div>
            </div>
            
          </div>
          
        </div>
        <div class="quiz-finish">        
          <a class="btn btn__see-more" href="http://www.babience.com/m/story/netherlands/list.jsp" target="_blank">더 알아보기</a>
          <a class="btn btn__product-link" href="http://www.babience.com/m/product/list.jsp?cate_seq=1306" target="_blank">제품 구매하기</a>             
          <!-- nav : start -->
          <div id="kabrita-nav-bottom-quiz" th:include="fourth/_nav-bottom-mobile :: kabrita-nav-bottom"></div>
          <!-- nav : end -->

          <!-- <span class="thum-img"></span> -->
        </div>
      </div>

      </section>
      <!-- popup group : start -->
      <div id="quiz-popup" th:include="fourth/_popup-quiz :: quiz-popup"></div>
      <!-- popup group : end -->


    </div>
  </div>

  <th:block layout:fragment="body-script" th:remove="tag">
    <script src="/vendor/slick/slick.min.js"></script>
    <script src="/renewal/ox-quiz/js/shuffled.js"></script>
    <script src="/renewal/ox-quiz/js/quizSlider.js"></script>
    <script>
      var deviceKind = "m";
    </script>
    <script src="/fourth/ox-quiz/js/ox-quiz.js"></script>
  </th:block>

</body>

</html>