@{
    ViewBag.Title = "T map 이벤트 > 참여자";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row" style="padding-left:30px; padding-right:30px" id="admin-tmap">
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            <h3 class="panel-title">Event 참여자</h3>
            <div class="text-right">
                <span>{{ data.TotalItemCount }} 건</span>
            </div>
        </div>
        <table class="table table-bordered table-hover table-sortable" style="margin:10px;width:98.5%">
            <thead>
                <tr>
                    <th style="vertical-align:middle;width:100px">번호</th>
                    <th style="vertical-align:middle;width:100px">채널</th>
                    <th style="vertical-align:middle;width:100px">이름</th>
                    <th style="vertical-align:middle;width:100px">휴대폰</th>
                    <th style="vertical-align:middle;width:100px">참여일</th>
                    <th style="vertical-align:middle;width:60px">비고</th>
                </tr>
                <tr class="filters">
                    <th style="vertical-align:middle"></th>
                    <th style="vertical-align:middle;width:100px">@Html.DropDownList("IsMobileDevice", new SelectList(new string[] { "true", "false" }), "모바일여부", new { v_model = "dataFilters.IsMobileDevice", @class = "form-control" })</th>
                    <th style="vertical-align:middle">@Html.TextBox("Name", "", new { @class = "form-control", placeholder = "이름", v_model = "dataFilters.Name" })</th>
                    <th style="vertical-align:middle">@Html.TextBox("Phone", "", new { @class = "form-control", placeholder = "휴대폰", v_model = "dataFilters.Phone" })</th>
                    <th style="vertical-align:middle">
                        <input type="text" v-model="dataFilters.FromDate" class="form-control" placeholder="시작일" />
                        <input type="text" v-model="dataFilters.ToDate" class="form-control" placeholder="종료일" />
                    </th>
                    <th class="text-center" style="vertical-align:middle" nowrap>
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="goToPage(1)"><i class="fa fa-search"></i> 검색</button>
                        <br>
                        <button class="btn btn-success btn-sm" v-on:click="excelDownload()"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-show="data.TotalItemCount > 0" v-for="(index, item) in data.Items">                    
                    <td>{{ data.TotalItemCount - ((dataFilters.Page - 1) * (dataFilters.PageSize) + index) }}</td>
                    <td>{{ item.IsMobileDevice | isMobile }}</td>
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Phone }}</td>
                    <td>{{ item.CreateDate | getDate }}</td>
                    <td></td>
                </tr>
            </tbody>
            <tbody v-show="data.TotalItemCount === 0">
                <tr>
                    <td style="color:red;text-align:center" colspan="7">데이터가 없습니다.</td>
                </tr>
            </tbody>
        </table>
        <div style="text-align:center">
            <div style="text-align:center">
                <a href="#" v-show="!data.IsLastPage" v-on:click="goToPage(1)">처음</a>
                <a href="#" v-show="data.HasPreviousPage" v-on:click="goToPage(data.pageNumber - 1)">이전</a>
                <a href="#" v-for="page in pages" v-on:click="goToPage(page)" v-bind:style="{ fontWeight : ( page === data.PageNumber) ? 'bold' : 'normal' }"> {{ page }} </a>
                <a href="#" v-show="data.HasNextPage" v-on:click="goToPage(data.PageNumber + 1)">다음</a>
                <a href="#" v-show="!data.IsLastPage" v-on:click="goToPage(data.PageCount)">마지막</a>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/vuejs")
    <script src="~/Content/tmap/js/event-admin.js"></script>
}